{% component 'contactForm' form_description = 'My other description' send_btn_label = 'Stay in touch' %}

<form
    id="feedback-form"
    class="_required"
>
    {{ form_token() }}

    {% partial 'input/input'
        sId = 'name'
        sLabelText = 'form_user_name'|_
        sName = 'name'
        required = 'required'
        type = 'text'
        sPartialClasses = 'relative'
    %}
    {% partial 'input/input'
        sId = 'form-email'
        sLabelText = 'form_user_email'|_
        sName = 'email'
        required = 'required'
        type = 'email'
        sPartialClasses = 'mt-7 md:mt-8 relative'
    %}
    {% partial 'textarea/textarea'
        sId = 'message'
        sLabelText = 'form_user_message'|_
        sName = 'message'
        sPartialClasses = 'mt-7 md:mt-8 relative'
        sRows = '4'
    %}
    {% partial 'button/button'
        sText = 'form_send'|_
        sType = 'submit'
        sPartialClasses = 'w-full md:w-auto mt-12 md:mt-10'
    %}
</form>
