{# TODO: need add default values #}
<style>
    :root {
        --primary: {{ this.theme.color_primary }};
        --primary-hover: {{ this.theme.color_primary_hover }};
        --primary-focus: {{ this.theme.color_primary_focus }};

        --on-primary-container: {{ this.theme.color_on_primary_container }};

        --surface-dim: {{ this.theme.color_surface_dim }};
        --surface-container: {{ this.theme.color_surface_container }};

        --on-surface: {{ this.theme.color_on_surface }};
        --on-surface-variant: {{ this.theme.color_on_surface_variant }};

        --outline: {{ this.theme.color_outline }};
        --outline-variant: {{ this.theme.color_outline_variant }};
    }
</style>
