{##}

{% set obReviewList = obProduct.review.active().sort() %}
{% set iReviewCount = 0 %}
{% set iRatingCount = 0 %}
{% set iReviewCount = obProduct.review.active().count() %}
{% set obOffer = obProduct.offer.first() %}
{% set iTotalQuantity = obOfferList.getTotalQuantity() %}

{% for obReview in obReviewList %}
    {% if obReview.comment %}
        {% set iReviewCount = iReviewCount + 1 %}
    {% endif %}
    {% if obReview.rating %}
        {% set iRatingCount = iRatingCount + 1 %}
    {% endif %}
{% endfor %}
<div class="w-full xl:pl-14 {{sPartialClass}}">
    <h1 class="text-gray-900 text-xl md:text-2xl xl:text-3xl uppercase">{{ obProduct.name }}</h1>
    <div class="_evaluation flex flex-wrap flex-row mt-4 md:mt-3 text-gray-600 text-sm md:text-base md:items-center">
        <div class="flex mr-3 md:mr-4">
            <div aria-hidden="true" class="flex flex-row items-center space-x-1 mr-4 mb-2 md:mb-0">
                {% partial 'product-rating/product-rating-star' maxRating='5' rating=obProduct.rating unique_id='product' %}
            </div>
            <span aria-label="{{ 'reviews_customers_rating'|_({
                reviews_customers_rating_value: obProduct.rating,
                reviews_customers_rating_value_max: iReviewCount,
            })}}">
                ({{ obProduct.rating }})
            </span>
        </div>
        <div>
            <a href="#ratings" class="underline cursor-pointer mr-2 md:mr-4">
                {{ 'reviews_customers_votes_number'|_({
                    reviews_customers_votes_number_value: iRatingCount,
                }) }}
            </a>
            <a href="#reviews" class="underline cursor-pointer">
                {{ iReviewCount }} {{'reviews_reviews'|_}}
            </a>
        </div>
    </div>

    {% set obOfferList = obProduct.offer %}
    {% if obOfferList.isNotEmpty() %}
        {% set obOffer = obOfferList.first() %}
        <input class="hidden" type="radio" id="offer_{{ obOffer.id }}" name="offer_id" value="{{ obOffer.id }}" checked>
    {% else %}
        <p class="text-gray-600 pt-4">No offers</p>
    {% endif %}

    {% if iTotalQuantity > 0 %}
        <div class="flex flex-row items-center mt-4 mb-7 space-x-2 md:space-x-4 md:mt-7">
            <span class="text-xl text-gray-900 font-medium md:text-3xl">{{ obOffer.currency }}{{ obOffer.price }}</span>
            {% if obOffer.old_price_value > obOffer.price_value %}
                <span class="text-gray-600 text-base font-medium line-through md:text-3xl">{{ obOffer.currency }}{{ obOffer.old_price }}</span>
            {% endif %}
        </div>
    {% else %}
        <div class="mb-7 mt-4 md:my-7">
            <span class="font-medium text-sm md:text-lg">{{'product_not_available'|_}}</span>
        </div>
    {% endif %}
</div>
