{##}

{% set obReviewList = obProduct.review.active().sort() %}
{% set iReviewCount = 0 %}
{% set iRatingCount = 0 %}
{% set iReviewCount = obProduct.review.active().count() %}
{% for obReview in obReviewList %}
    {% if obReview.comment %}
        {% set iReviewCount = iReviewCount + 1 %}
    {% endif %}
    {% if obReview.rating %}
        {% set iRatingCount = iRatingCount + 1 %}
    {% endif %}
{% endfor %}
<div class="w-full md:pl-14">
    <h1 class="text-gray-900 text-xl md:text-2xl xl:text-3xl uppercase">{{ obProduct.name }}</h1>
    <div class="_evaluation flex flex-wrap flex-row mt-4 md:mt-3 text-gray-600 text-sm md:text-base md:items-center">
        <div class="flex mr-3 md:mr-4">
            <div aria-hidden="true" class="flex flex-row items-center space-x-1 mr-4 mb-2 md:mb-0">
                {% partial 'product-rating/product-rating-star' maxRating='5' rating=obProduct.rating unique_id='product' %}
            </div>
            <span aria-label="{{ 'aria_label_customers_rating'|transRaw({
                aria_label_customers_rating: obProduct.rating,
                text_customers_total: iReviewCount,
            })}}">
                ({{ obProduct.rating }})
            </span>
        </div>
        <div>
            <a href="#ratings" class="underline cursor-pointer mr-4">
                {{ 'text_customers_voted'|transRaw({
                    text_customers_voted_total: iRatingCount,
                }) }}
            </a>
            <a href="#reviews" class="underline cursor-pointer">
                {{ iReviewCount }} reviews
            </a>
        </div>
    </div>
    <div class="flex flex-row items-center space-x-4 mt-4 md:mt-7 mb-7">
        <span class="text-xl md:text-3xl">
            <span>€</span>74.56
        </span>
        <span class="text-gray-600 text-base md:text-3xl line-through md:no-underline">
            <span>€</span>113.99
        </span>
    </div>
</div>
