<div class="flex flex-col md:flex-row" >
    <div class="w-full md:w-1/2 mt-4 md:mt-0">
        <table>
            <caption class="text-left w-full font-bold">Product measurements:</caption>
            <tbody>
                <tr>
                    <th class="text-left min-w-18 font-normal text-gray-600">Height</th>
                    <td class="pl-1.5">39 cm</td>
                </tr>
                <tr>
                    <th class="text-left min-w-18 font-normal text-gray-600">Width</th>
                    <td class="pl-1.5">10 cm</td>
                </tr>
                <tr>
                    <th class="text-left min-w-18 font-normal text-gray-600">Depth</th>
                    <td class="pl-1.5">2 cm</td>
                </tr>
                <tr>
                    <th class="text-left min-w-18 font-normal text-gray-600">Weight</th>
                    <td class="pl-1.5">1,5 kg</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="w-full md:w-1/2 mt-4 md:mt-0 text-left">
        <table>
            <caption class="text-left w-full font-bold">Materials:</caption>
            <tbody>
                <tr>
                    <th class="text-left min-w-18 font-normal text-gray-600">Iron</th>
                    <td class="pl-1.5">100%</td>
                </tr>
                <tr>
                    <th class="text-left min-w-18 font-normal text-gray-600">Brass</th>
                    <td class="pl-1.5">100%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
