{##}

<div class="{{ sPartialClasses }}">
    {% if sLabelText %}
        <label for="{{ sId }}" class="text-xs text-gray-600 inline-block mb-1 {{ sLabelClasses }}">{{ sLabelText }}</label>
    {% endif %}
    <input
        type="{{ sType|default('text') }}"
        id="{{ sId }}"
        {% if sName %}
            name="{{ sName }}"
        {% endif %}
        class="w-full border border-gray-400 py-3 px-4 rounded placeholder-gray-400 focus:outline-none focus:border-blue-800 focus:ring-transparent {{ inputClass }}"
        data-was-change="false"
        {{ required }}
        {% if sValue is not same as(null) %}
            value="{{ sValue }}"
        {% endif %}
        {{sDataAtributes}}
        {% if sPlaceholder %}
            placeholder="{{ sPlaceholder }}"
        {% endif %}
        {% if bDisabled == true %}
            disabled="disabled"
        {% endif %}
        {% if iMin is not same as(null) %}
            min="{{ iMin }}"
        {% endif %}
        {% if iMax is not same as(null) %}
            max="{{ iMax }}"
        {% endif %}
        {% if iMaxLength is not same as(null) %}
            maxlength="{{ iMaxLength }}"
        {% endif %}
        {% if iMinLength is not same as(null) %}
            minlength="{{ iMinLength }}"
        {% endif %}
        {% if sPattern is not same as(null) %}
            pattern="{{ sPattern }}"
        {% endif %}
        {% if sValidationErrorSelector is not same as(null) %}
            data-bouncer-target=".{{ sValidationErrorSelector }}"
        {% endif %}
        {% if sCustomErrorMessage is not same as(null) %}
            data-bouncer-message="{{ sCustomErrorMessage }}"
        {% endif %}
        {{ attribute|raw }}
    >
    {{body|raw}}
    {% if validationErrorSelector is not same as(null) %}
        <div class="{{ validationErrorSelector }} text-red-700 text-sm inline-block"></div>
    {% endif %}
</div>

{# TODO: Make boolean attributes required and disabled consistent #}
