{##}

<ul class="{{sContainerClasses}}">
    {% for obValue in obPropertyValueList %}
        {% set bChecked = arFilterValue[obProperty.id] is not empty and obValue.slug in arFilterValue[obProperty.id] %}
        {% set bDisabled = false %}
        {% if bChecked == false and arFilterValueWithoutProperty[obProperty.id] is not empty %}
            {% set obProductListTemp = obProductList.copy().filterByProperty(arFilterValueWithoutProperty[obProperty.id], obProductPropertyList).filterByProperty(arFilterValueWithoutProperty[obProperty.id], obOfferPropertyList) %}
            {% set bDisabled = obValue.isDisabled(obProductListTemp) %}
        {% endif %}
        {% if obPropertyValueList|length == 1 %}
            {% set bChecked = true %}
        {% endif %}
        {% if obValue.label == 'White' %}
            {% set checkboxStyle = 'border-gray-300 checked:bg-75 checked:bg-check-black checked:border-gray-300 focus:border-gray-300 active:border-gray-300 checked:hover:border-gray-300 checked:focus:border-gray-300 disabled:opacity-30' %}
        {% else %}
            {% set checkboxStyle = 'border-transparent checked:bg-75 checked:bg-check checked:border-0 disabled:opacity-30' %}
        {% endif %}

        <li class="w-max flex flex-col items-center mb-4 me-2 {{wrapperClasses}}">
            <input
                class="_input-checkbox-color rounded w-9 h-9 me-0 focus:outline-none focus-visible:border-blue-800 {{checkboxStyle}}"
                type="{{sType|default('checkbox')}}"
                id="{{obValue.slug}}"
                value="{{obValue.slug}}"
                name="{{sName}}"
                style="--input-checkbox-color: {{obValue.value}};"
                {{bDisabled ? 'disabled'}}
                {{bChecked ? 'checked'}}
            >
            <label for="{{ obValue.slug }}" class="text-gray-600 text-xs pt-1">{{ obValue.label|raw}}</label>
        </li>
    {% endfor %}
</ul>
