{#
Params:
- obProduct
- obOffer
#}

{% set obOfferList = obProduct.offer.site() %}
{% set iOfferID = input('offer_id') %}
{% if iOfferID is not empty %}
    {% set obOffer = obOfferList.find(iOfferID) %}
{% endif %}

{% if obOffer.isNotEmpty() %}
    <div class="flex flex-row items-center mt-4 mb-7 space-x-2 md:space-x-4 rtl:space-x-reverse md:mt-7">
        <span class="text-xl text-gray-900 font-medium md:text-3xl">{{ obOffer.currency }}{{ obOffer.price }}</span>
        {% if obOffer.old_price_value > obOffer.price_value %}
            <span class="text-gray-600 text-base font-medium line-through md:text-3xl">{{ obOffer.currency }}{{ obOffer.old_price }}</span>
        {% endif %}
    </div>
{% else %}
    <div class="mb-7 mt-4 md:my-7">
        <span class="font-medium text-sm md:text-lg">{{'product_not_available'|_}}</span>
    </div>
{% endif %}
