{#
Params:
- obProduct
- obOfferList
- obOffer
- obPropertyList
#}

{% for obProperty in obPropertyList %}
    {% set options = [] %}
    {% for obTempOffer in obOfferList %}
        {% set obTempProperty = obTempOffer.property.find(obProperty.id) %}
        {% set obPropertyValueList = obTempProperty.property_value %}
        {% for obPropertyValue in obPropertyValueList %}
            {% set options = options|merge({(obPropertyValue.value): {'value': obPropertyValue.slug, 'label': obPropertyValue.value ~ ' ' ~ obTempProperty.measure.name}}) %}
        {% endfor %}
    {% endfor %}
    {% partial 'form/select'
        id = 'property-' ~ obProperty.id
        name = 'property-' ~ obProperty.id
        labelText = obProperty.name
        placeholder = 'filter_choose_value'|_
        wrapperClasses = '_offer-choose-property'
        inputClasses = '_offer-choose-property-input'
        dataAtributes = 'data-property-id='~obProperty.id
    %}
{% endfor %}
