{##}

<div class="flex items-center space-x-2 md:space-x-6">
    <picture>
        <source srcset="{{ obProduct.preview_image.getThumb(92, 92, {'quality': 80, 'extension': 'webp'}) }}" type="image/webp">
        <source srcset="{{ obProduct.preview_image.getThumb(92, 92, {'quality': 80}) }}" type="image/jpeg">
        <img
            class="object-contain w-20 h-20 md:w-24 md:h-24 rounded"
            src="{{ obProduct.preview_image.path|resize(92, 92, {'quality': 80})}}"
            alt="{{ obProduct.description }}"
            title="{{ obProduct.title }}"
        />
    </picture>
    <div class="flex flex-col">
        <span class="text-gray-900 text-sm md:text-base">{{ obProduct.name }}</span>
        <span class="text-gray-900 text-sm md:text-base">{{'text_model_number'|_}}: {{ obProduct.code }}</span>
    </div>
</div>
