{##}

{#
TODO:
Input values: sProductListSmallType, sButtonName, iTake, obProduct
{% partial 'product-list-small/product-list-small'
    sProductListSmallType=sProductListSmallTypePopularity
    iTake=4
    sButtonName='More products'
%}
#}

{% if sProductListSmallType == sProductListSmallTypePopularity %}
    {% set obProductList = ProductList.make().active().sort('popularity|desc') %}
{% elseif sProductListSmallType == sProductListSmallTypeViewedProducts %}
    {% set obProductList = ProductList.make().active().viewed() %}
{% elseif sProductListSmallType == sProductListSmallTypeRelatedProducts %}
    {% set obProductList = obProduct.related().active() %}
{% endif %}

{% set iPage = input('page')|default(1) %}
{% set arProductList = obProductList.page(iPage, iTake) %}
{% set bButton = obProductList.page((iPage + 1), iTake)|length > 0 %}

{% if arProductList is not empty %}
    <section class="content-visibility mt-10 mb-10 {{ sPartialClasses }}">
        <h{{ sSectionHeadingLevel }} class="text-lg md:text-3xl uppercase mb-4 md:mb-10">{{ sSectionHeading }}</h{{ sSectionHeadingLevel }}>
        <ul class="grid grid-cols-2 md:grid-cols-4 gap-x-4 gap-y-6 _product-list-small">
            {% partial 'product-list-small/product-list-small-ajax'
                arProductList = arProductList
                iShowIndex = iShowIndex
            %}
        </ul>
        {% if sButtonName is not empty and bButton %}
            <div class="mt-4 md:mt-11 text-center _product-list-small-button">
                {% partial 'product-list-small/product-list-small-button-ajax'
                    arProductList = arProductList
                    sProductListSmallType = sProductListSmallType
                    iTake = iTake
                    iProductId = obProduct.id
                    bButton = bButton
                %}
            </div>
        {% endif %}
    </section>
{% endif %}
