{##}

{% if arProductList is empty %}
    {% set sProductListSmallType = sProductListSmallType|default(input('product_list_small_list_type')) %}
    {% if sProductListSmallType == sProductListSmallTypePopularity %}
        {% set obProductList = ProductList.make().active().sort('popularity|desc') %}
    {% elseif sProductListSmallType == sProductListSmallTypeViewedProducts %}
        {% set obProductList = ProductList.make().active().viewed() %}
    {% elseif sProductListSmallType == sProductListSmallTypeViewedRelatedProducts %}
        {% set iProductId = input('product_id') %}
        {% set obProduct = ProductData.get(iProductId) %}
        {% set obProductList = obProduct.related().active() %}
    {% endif %}

    {% set iPage = input('page') %}
    {% set iTake = input('take') %}
    {% set bButton = obProductList.page((iPage + 1), iTake)|length > 0 %}
{% else %}
    {% set iPage = 1 %}
{% endif %}

{% set sButtonName = input('button_name')|default(sButtonName) %}

{% if sButtonName is not empty and bButton %}
    {% partial 'button/button'
        arProductList = arProductList
        bButton = bButton
        ghost = true
        text = sButtonName
        sPartialClasses = 'w-full md:w-auto font-medium _product-list-small-button-more'
        sDataAtribute = 'data-page='~(iPage + 1)~' data-product-list-small-type='~sProductListSmallType~' data-take='~iTake~' data-product-id='~iProductId
    %}
{% endif %}
