{% if arProductList is empty %}
    {% set sProductListSmallType = sProductListSmallType|default(input('product_list_small_list_type')) %}
    {% if sProductListSmallType == sProductListSmallTypePopularity %}
        {% set obProductList = ProductList.make().active().sort('popularity|desc') %}
    {% elseif sProductListSmallType == sProductListSmallTypeNew %}
        {% set obProductList = ProductList.make().active().sort('new') %}
    {% elseif sProductListSmallType == sProductListSmallTypeViewedProducts %}
        {% set obProductList = ProductList.make().active().viewed() %}
    {% elseif sProductListSmallType == sProductListSmallTypeRelatedProducts %}
        {% set iProductId = input('product_id') %}
        {% set obProduct = ProductData.get(iProductId) %}
        {% set obProductList = obProduct.related().active() %}
    {% endif %}

    {% set iPage = iPage|default(input('page')|default(1)) %}
    {% set iPage = iPage >= 1 ? iPage : 1 %}

    {% set iTake = iTake|default(input('take')) %}
    {% set iTake = iTake >= 1 ? iTake : 1 %}

    {% set iTotalCount = obProductList.count() %}
    {% set bShowButton = iTake * iPage < iTotalCount %}
{% endif %}

{% set sButtonName = sButtonName|default(input('button_name')) %}

{% if sButtonName is not empty and bShowButton %}
    {% partial 'button/button'
        bGhost = true
        sText = sButtonName
        sPartialClasses = 'w-full md:w-auto font-medium _product-list-small-button-more'
        sDataAtribute = 'data-page='~(iPage + 1)~' data-product-list-small-type='~sProductListSmallType~' data-take='~iTake~' data-product-id='~iProductId
    %}
{% endif %}
