{#
Params:
- obOrderList
#}

{% if obOrderList is empty %}
    {% set obOrderList = obUser.order %}

    {% set iPage = Pagination.getPageFromRequest() %}
    {% set iMaxPage = Pagination.getMaxPage(iOrdersCount) %}
{% endif %}

{% set arOrderList = obOrderList.page(iPage, Pagination.getCountPerPage()) %}

{% for obOrder in arOrderList %}
    {% set obTotalPriceData = obOrder.total_price_data %}
    <li class="odd:bg-white border-y border-gray-200 lg:even:bg-gray-100 lg:border-y-0 lg:border-none lg:grid lg:grid-flow-col lg:grid-cols-6">
        <div class="py-4 grid gap-y-2 lg:gap-y-0 lg:py-0 lg:col-span-3 lg:grid-cols-3">
            <div class="grid grid-cols-2 lg:px-3 lg:py-2 lg:block">
                <span class="text-sm font-medium lg:hidden">{{ 'account_order_number'|_ }}:&nbsp;</span>
                <span class="text-sm font-medium text-end lg:text-start lg:font-normal lg:text-base">{{ obOrder.order_number }}</span>
            </div>
            <div class="grid grid-cols-2 lg:py-2 lg:px-3 lg:block">
                <span class="text-sm lg:hidden">{{ 'account_order_date'|_ }}&nbsp;</span>
                <span class="text-sm text-end lg:text-start lg:text-base">{{ obOrder.created_at|date('d/m/Y') }}</span> {# TODO: Must follow locale rules #}
            </div>
            <div class="grid grid-cols-2 lg:py-2 lg:px-3 lg:block">
                <span class="text-sm lg:hidden">{{ 'account_order_status'|_ }}&nbsp;</span>
                <span class="text-sm text-end lg:text-start lg:text-base" style="color:{{ obOrder.status.color }}">{{ obOrder.status.name_for_user }}</span>
            </div>
        </div>

        {% set obOrderPositionList = obOrder.order_position %}
        <div class="py-3 text-base border-t border-gray-200 lg:border-t-0 lg:border-none lg:border-0 lg:py-2 lg:px-3 lg:col-span-2">
            {% partial 'common/toggle/toggle'
                wrapperClasses = 'py-1 lg:w-max'
                id = obOrder.order_number
                showText = 'account_order_items_show'|_ ~ ' (' ~ obOrderPositionList.count() ~ ')'
                hideText = 'account_order_items_hide'|_ ~ ' (' ~ obOrderPositionList.count() ~ ')'
                body
            %}
                <ul class="_toggle-list flex flex-col space-y-2 mt-2">
                    {% for obOrderPosition in obOrderPositionList %}
                        {% set obOffer = obOrderPosition.offer %}
                        {% set obProduct = obOffer.product %}
                        {% if obOffer.isNotEmpty() and obProduct.isNotEmpty() %}
                            <li class="flex flex-row space-x-2 rtl:space-x-reverse ">
                                <div class="relative flex items-center">
                                    {% if obProduct.preview_image is not empty %}
                                        <picture class="object-fill w-20 h-20">
                                            <source srcset="{{ obProduct.preview_image.getThumb(80, 80, {'quality': 80, 'extension': 'webp'}) }}" type="image/webp">
                                            <img
                                                class="object-fill h-full w-full rounded"
                                                src="{{ obProduct.preview_image.getThumb(80, 80, {'quality': 80}) }}"
                                                itemprop="image"
                                                alt="{{ obProduct.preview_image.description }}"
                                                title="{{ obProduct.preview_image.title }}"
                                                loading="lazy"
                                                width="80"
                                                height="80"
                                            >
                                        </picture>
                                    {% else %}
                                        <img
                                            class="w-full h-full object-cover"
                                            src="{{ 'assets/images/no-photo.svg'|theme }}"
                                            alt="{{ 'blog_image_no'|_ }}"
                                        >
                                    {% endif %}
                                </div>
                                <div class="flex flex-col space-y-1">
                                    {% if obProduct.active %}
                                        <a href="{{ obProduct.getPageUrl('catalog') }}" class="link link-gray text-gray-900 text-sm font-bold lg:text-base">{{ obProduct.name }}</a>
                                    {% else %}
                                        <span class="text-gray-900 text-sm lg:text-base">{{ obProduct.name }}</span>
                                    {% endif %}
                                    <span class="text-gray-900 text-sm lg:text-base">{{'form_quantity'|_}}: {{ obOrderPosition.quantity }}</span>
                                    <div>
                                        <span class="break-line text-sm text-gray-900 me-2 lg:text-base">{{'product_price'|_}}: {{ obOffer.currency }}{{ obOrderPosition.price }}</span> {# TODO: Make currency sign position depending on locale settings #}
                                        {% if obOrderPosition.discount_price_value > 0 %}
                                            <span class="break-line text-sm text-gray-600 line-through lg:text-base">{{ obOffer.currency }}{{ obOrderPosition.old_price }}</span> {# TODO: Make currency sign position depending on locale settings #}
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endpartial %}
        </div>

        <div class="py-4 grid grid-cols-2 border-t border-gray-200 lg:border-t-0 lg:border-none lg:py-2 lg:border-0 lg:px-3 lg:block">
            <span class="text-sm font-medium lg:hidden">{{'account_order_price_total'|_}}&nbsp;</span>
            <span class="text-sm text-end font-medium lg:font-normal lg:text-start lg:text-base">{{ obOrder.currency_symbol }}{{ obTotalPriceData.price }}</span>
        </div>
    </li>
{% endfor %}
