{#
Params:
- wrapperClasses
- icon
- message
- buttonHref
- buttonText
- buttonClasses
- buttonType
#}

<div class="flex flex-col items-center pt-57 md:pt-54 bg-no-repeat bg-top bg-info-icon {{ wrapperClasses }}" style="background-image:url({{ ('assets/images/info-message/' ~ icon)|theme }})">
    <p class="text-lg md:text-xl text-gray-400">{{ message }}</p>
    {% partial 'form/button'
        url = buttonHref
        text = buttonText
        wrapperClasses = buttonClasses
        buttonType = buttonType
    %}
</div>
