{#
Params:
- sectionHeadingLevel
- wrapperClasses
#}

<div class="mt-10 mb-10 {{ wrapperClasses }}">
    <div class="flex justify-between items-center mb-4 md:mb-10">
        <h{{ sectionHeadingLevel }} class="text-lg md:text-3xl uppercase">
            {{ 'blog_posts_latest'|_ }}
        </h{{ sectionHeadingLevel }}>
        <a class="link link-blue underline text-base md:text-xl hover:no-underline" href="{{ 'news-list'|page }}">
            {{ 'blog_see_all'|_ }}
        </a>
    </div>
    {% if arArticleList is not empty %}
        <ul class="grid grid-flow-col md:grid-flow-row md:grid-cols-4 gap-x-2 md:gap-x-4 overflow-x-scroll xl:overflow-visible scrollbar-x-none snap-x snap-mandatory">
            {% for obArticle in arArticleList %}
                <li class="snap-start w-40 md:w-auto">
                    {% partial 'news/news-card'
                        obArticle = obArticle
                        cardHeadingLevel = 3
                        loopIndex = loop.index
                        showIndex = 4
                    %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <span class="block text-gray-400 text-center mb-4 md:mb-10">{{ 'blog_posts_not_added'|_ }}</span>
    {% endif %}
</div>
