{##}

{% if obArticle.preview_image is not empty %}
    <div class="aspect-w-16 aspect-h-7 mb-4 md:mb-6">
        <picture>
            <source
                    srcset="
                    {{ obArticle.preview_image.getThumb(1064, 'auto', {'quality': 80, 'extension': 'webp'})}} 1064w,
                    {{ obArticle.preview_image.getThumb(608, 'auto', {'quality': 80, 'extension': 'webp'})}} 608w
                "
                    sizes="(min-width: 768px) 1064w, 608w"
                    type="image/webp">
            <img
                    srcset="
                    {{ obArticle.preview_image.getThumb(1064, 'auto', {'quality': 80}) }} 1064w,
                    {{ obArticle.preview_image.getThumb(608, 'auto', {'quality': 80}) }} 608w"
                    class="w-full h-full object-cover"
                    width="1064"
                    height="222"
                    sizes="(min-width: 768px) 1064w, 608w"
                    src="{{ obArticle.preview_image.getThumb('1064', 'auto', {'quality': 80}) }}" alt="{{ obArticle.preview_image.description }}"
            >
        </picture>
    </div>
{% endif %}
<h1 class="text-lg md:text-2xl text-gray-900 font-medium">{{ obArticle.title }}</h1>
<time class="mt-2 md:mt-3 text-xs md:text-base text-gray-600 inline-block" datetime="{{ obArticle.published_start.format('c') }}">{{ obArticle.published_start.format('d.m.Y') }}</time>
{# TODO: Check the date format according to the locale. #}
