<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-2 sm:gap-4">
    {% for li in 1..6 %}
    <li>
        <a class="overflow-hidden rounded-sm flex flex-row md:flex-col text-sm xl:text-base text-blue-800 font-medium h-full group cursor-pointer" href="#">
            <span class="w-12 md:w-auto h-12 md:h-auto bg-gray-200 group-hover:bg-blue-800 group-focus:bg-blue-900 md:aspect-w-1 md:aspect-h-1">
                <span class="block h-full bg-6 md:bg-auto bg-blue-800 group-hover:bg-white transform scale-50" style="-webkit-mask: url({{ 'assets/images/temp_img/1.svg'|theme }}) center / 100% no-repeat"></span>
            </span>
            <span class="flex flex-1 items-center pl-4 pr-2 md:py-4 md:px-2 xl:p-4 md:justify-center border border-l-0 md:border-l md:border-t-0 border-solid border-gray-200 rounded-br-sm md:rounded-bl-sm rounded-tr-sm md:rounded-t-none md:text-center group-active:underline">Menu item</span>
        </a>
    </li>
    {% endfor %}
</ul>
