{#
Params:
- needLoad
- name
- href
- imagePath
- iTake
- wrapperClasses
#}

{% if needLoad %}
    {% set hiddenClasses = 'hidden' %}
{% endif %}

<li
    class="{{hiddenClasses}}"
    {% if needLoad %}
        aria-hidden="true"
    {% endif %}
>
    <a class="link link-blue overflow-hidden rounded-sm flex flex-row md:flex-col text-sm xl:text-base font-medium h-full group cursor-pointer border border-l-0 md:border-l md:border-t-0 border-solid border-surface-container rounded-ss-sm md:rounded-es-sm rounded-se-sm md:rounded-t-none md:text-center group-active:underline {{wrapperClasses}}" href="{{ href }}">
        <span class="w-12 relative md:w-auto h-12 md:h-auto bg-gray-200 group-hover:bg-primary group-focus:bg-primary-focus md:aspect-square">
            <span class="advanced-list-icon h-6 w-6 bg-6 md:w-32 md:h-32 md:bg-auto after:bg-primary after:focus-visible:bg-white after:focus-within:bg-white after:group-focus:bg-white after:group-hover:bg-white transform scale-50" style="--advanced-list-icon-src: url({{ imagePath }})"></span>
        </span>
        <span class="flex flex-1 items-center ps-4 pe-2 md:py-4 md:px-2 xl:p-4 md:justify-center border border-l-0 md:border-l md:border-t-0 border-solid border-gray-200 rounded-ss-sm md:rounded-es-sm rounded-se-sm md:rounded-t-none md:text-center group-active:underline">{{ name }}</span>
    </a>
</li>
