{##}

<div class="_write-review">
    {% partial 'form/button'
        text = 'reviews_review_write'|_
        wrapperClasses = '_offCanvasOpen w-full md:w-72 mt-8 p-2'
        isGhost = true
        dataAtribute = 'data-for="review_card_info"'
    %}
    {% partial 'common/off-canvas/off-canvas'
        id = 'review_card_info'
        position = 'right'
        heading = 'reviews_review_add'|_
        headerClasses = 'items-center mb-7'
        canvasClasses = 'cursor-auto'
        indentClasses = 'px-4 py-10 md:px-10'
        backgroundClasses = 'bg-white'
        body
    %}
        {% partial 'review-card-info/review-card-info'
            obProduct = obProduct
        %}
        <form class="_review-container">
            <input type="hidden" name="product_id" value="{{obProduct.id}}">
            {% partial 'product-review-rating/product-review-rating' %}
            <fieldset class="mb-7 lg:mb-6">
                {# TODO: Add the ability to send product recommendations #}
                <legend class="text-gray-900 font-medium text-base mb-4 lg:mb-2">{{'reviews_would_recommend'|_}}</legend>
                <div class="flex space-x-7 rtl:space-x-reverse">
                    {% partial 'form/input-radio'
                        name = 'recommended'
                        id = 'recommended'
                        labelText = 'form_yes'|_
                        wrapperClasses = 'flex items-center'
                    %}
                    {% partial 'form/input-radio'
                        name = 'recommended'
                        id = 'non-recommended'
                        labelText = 'form_no'|_
                        wrapperClasses = 'flex items-center'
                    %}
                </div>
            </fieldset>
            <div>
                <label class="text-gray-900 font-medium text-base" for="review">{{'reviews_share_experience'|_}}</label>
                <textarea class="w-full mt-4 rounded border-gray-400 resize-none placeholder:text-gray-400 placeholder:text-base lg:mt-2" id="review" name="comment" rows="5" cols="50" placeholder="{{'reviews_share_experience_placeholder'|_}}"></textarea>
            </div>
            {% partial 'form/button'
                type = 'submit'
                text = 'reviews_review_submit'|_
                wrapperClasses = '_send-review w-full md:w-72 mt-8 p-2'
            %}
        </form>
    {% endpartial %}
</div>
