{#
Render page breadcrumbs
Params:
    - wrapperClasses
    - arBreadcrumbs
#}

<nav class="my-4 md:my-6 overflow-auto xl:overflow-hidden scrollbar-x-none {{ wrapperClasses }}" role="navigation">
    <ul class="p-0.5 flex flex-nowrap xl:flex-wrap text-gray-600" aria-label="{{ 'breadcrumbs_breadcrumbs'|_ }}">
        <li>
            <a class="underline hover:no-underline link link-gray" href="{{ 'index'|page }}">{{ 'breadcrumbs_home'|_ }}</a>
        </li>
        {% for arItemData in arBreadcrumbs %}
            <li class="ps-3 inline-flex before:separator whitespace-nowrap rtl:before:translate-y-0.5 rtl:before:rotate-180">
                {% if loop.last %}
                    <span class="ms-3">{{ arItemData.is_lang ? arItemData.name|_ : arItemData.name }}</span>
                {% else %}
                    <a class="underline hover:no-underline link link-gray ms-3" href="{{ arItemData.url }}">{{ arItemData.is_lang ? arItemData.name|_ : arItemData.name }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
