{##}

{% set obPropertyList = obProduct.property %}
{% set iTotalQuantity = obOfferList.getTotalQuantity() %}
{% set obOffer = obProduct.offer.first() %}

<div>
    <span class="text-gray-900 font-medium text-base">{{ 'heading_colors'|_ }}</span>
    <ul class="flex space-x-2 mt-2">
        {% for obValue in obPropertyList if obValue.code == 'Color' %}
            {% partial 'input-color-imitation/input-color-imitation'
                sPartialClasses = 'mr-0'
                obPropertyValueList = obValue.property_value
                obProperty = obProperty
                sName = 'offer_id'
                sValue = obOffer.id
                sType = 'radio'
                bChecked = true
                sContainerClasses = 'flex flex-row space-x-2 mt-4 md:mt-2 text-xs text-gray-600'
            %}
        {% endfor %}
        {% for obRelatedProduct in obRelatedProductList %}
            {% set obPropertyList = obRelatedProduct.property %}
                {% for obValue in obPropertyList if obValue.code == 'Color' %}
                    {% partial 'input-color-imitation/input-color-imitation'
                        sPartialClasses = 'mr-0'
                        obPropertyValueList = obValue.property_value
                        obProperty = obProperty
                        sName = 'offer_id'
                        sValue = obOffer.id
                        sType = 'radio'
                        sHref = obRelatedProduct.getPageUrl('product-item/product-item')
                        sContainerClasses = 'flex flex-row space-x-2 mt-4 md:mt-2 text-xs text-gray-600'
                    %}
                {% endfor %}
        {% endfor %}
    </ul>
</div>
