<ul class="grid gap-4 grid-cols-social mt-6 lg:mt-5">
    {% for network in this.theme.social_networks_list %}
    <li>
        <a class="bg-gray-200 aspect-w-1 aspect-h-1 rounded-lg block group hover:bg-blue-700 active:bg-blue-900 focus:outline-none focus:ring-1 focus:ring-inset focus:ring-blue-800" href="{{ network.url }}" target="_blank">
            <span class="block bg-gray-400 transform scale-50 group-hover:bg-white group-focus:bg-blue-800 group-active:bg-white" style="-webkit-mask: url({{ network.image|media }}) center / 50% no-repeat"></span>
        </a>
    </li>
    {% endfor %}
</ul>
