{##}

{# TODO: Need fallback for focus-visible #}

{% if bHost %}
    {% set sDefaultClass = 'text-base rounded text-blue-800 border border-blue-800 border-solid py-3 px-8 hover:bg-blue-700 hover:border-blue-700 hover:text-white focus:outline-none active:bg-blue-900 focus-visible:ring-1 focus-visible:ring-blue-800 focus-visible:ring-offset-1 focus-visible:ring-offset-white' %}
{% else %}
    {% set sDefaultClass = 'text-base rounded bg-blue-800 text-white py-3 px-8 hover:bg-blue-700 active:bg-blue-900 focus:outline-none focus-visible:ring-1 focus-visible:ring-blue-800 focus-visible:ring-offset-1 focus-visible:ring-offset-white disabled:bg-gray-300 disabled:text-gray-600' %}
{% endif %}

{% if sHref %}
    <a href="{{ sHref }}"
    {% if bBlank == true %}
        target="_blank" rel="noopener noreferrer"
    {% endif %}
    class="{{ defaultClass }} inline-block {{ sPartialClasses }}">
        {{ sText }}
    </a>
{% else %}
    <button class="{{ sDefaultClass }} {{ sPartialClasses }}"
        type="{{ sType|default('button') }}"
        {{ sDataAtribute }}
        {% if sOnClick %}
            onclick="{{ sOnClick }}"
        {% endif %}
        {% if bDisabled %}
            disabled
        {% endif %}
    >
        {{ sText }}
    </button>
{% endif %}
