{##}
<section class="mt-6 {{ sectionClass }}">
    <h2 class="sr-only">{{ sectionHeader }}</h2>
    <ul class="flex flex-wrap gap-4 {{ ulClass }}">
        {% for obItem in arItemList %}
            <li>
                {% if obItem.url is not empty %}
                    <a class="bg-gray-200 block rounded hover:opacity-75 focus-visible:outline-blue {{ itemClass }}" href={{ obItem.url }} target="_blank">
                        <img src="{{ obItem.image|media }}" alt="{{ obItem.alt }}" title="{{ obItem.title }}">
                    </a>
                {% else %}
                    <span class="bg-gray-200 block rounded {{ itemClass }}">
                        <img src="{{ obItem.image|media }}" alt="{{ obItem.alt }}" title="{{ obItem.title }}">
                    </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</section>
