[staticMenu MainMenu]
code = "navigation-main"
==
{##}
{# TODO: Add animation for the burger button. #}

{% set arMenuList = MainMenu.menuItems %}
<div class="_off-canvas block mr-3.5 lg:hidden">
    <button class="_show hover:text-blue-700 active:text-blue-900 focus-visible:text-blue-800 focus-visible:outline-dotted focus-visible:outline-2 focus-visible:outline-blue-800 focus-visible:rounded-sm">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.6665 30H33.3332M6.6665 10H33.3332H6.6665ZM6.6665 20H33.3332H6.6665Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
    {% partial 'off-canvas/off-canvas'
        sPosition = 'left'
        sHeading = 'heading_search'|_
        sIndentsClass = 'px-4 py-0 md:px-10'
        sBackgroundClass = 'bg-white'
        sHeaderClasses = 'mb-0'
        sHiddenDefaultHeader = true
        body
    %}
        {% if arMenuList is not empty %}
            <div class="py-4 flex -mx-4 px-4 md:mx-0 md:px-0 relative after:content-[''] after:absolute after:inset-0 after:top-auto after:border-b after:border-gray-200 md:after:border-0 md:ml-1 md:pb-0">
                <button class="_hide p-2 -m-2 hover:text-blue-700 active:text-blue-900 focus-visible:text-blue-800 focus-visible:outline-dotted focus-visible:outline-2 focus-visible:outline-blue-800 focus-visible:rounded-sm lg:block">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 10L30 30M10 30L30 10L10 30Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                {% if this.theme.business_card_image is not empty and this.page.id == 'index' %}
                    <span class="flex-shrink-0 w-36 ml-6">
                        <img class="" src="{{ this.theme.business_card_image|media }}" alt="{{ this.theme.business_card_image_alt }}" title="{{ this.theme.business_card_image_title }}">
                    </span>
                {% elseif this.theme.business_card_image is not empty %}
                    <a href="{{ 'index'|page }}" class="w-36 ml-6 focus-visible:text-blue-800 focus-visible:outline-dotted focus-visible:outline-2 focus-visible:outline-blue-800 focus-visible:rounded-sm">
                        <img class="" src="{{ this.theme.business_card_image|media }}" alt="{{ this.theme.business_card_image_alt }}" title="{{ this.theme.business_card_image_title }}">
                    </a>
                {% endif %}
            </div>
            <nav>
                <ul class="flex flex-col mb-2">
                    {% for arItemMenu in arMenuList|filter(arItemMenu => not arItemMenu.viewBag.isHidden) -%}
                        <li class="py-3 -mx-4 px-4 md:mx-0 md:px-0 relative after:content-[''] after:absolute after:inset-0 after:top-auto after:border-b after:border-gray-200 pb-3 md:after:border-0 md:ml-1 md:pb-0">
                            <a href="{{ arItemMenu.url }}" class="text-sm font-medium text-blue-800 hover:text-blue-700 hover:underline active:text-blue-900 focus-visible:text-blue-800 focus-visible:outline-dotted focus-visible:outline-2 focus-visible:outline-blue-800">{{ arItemMenu.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <h2 class="uppercase font-medium text-lg text-gray-900 mb-4 mt-8">{{'heading_account'|_}}</h2>
            {% partial 'button/button'
                sText = 'button_sign_in'|_
                sPartialClasses = 'font-medium text-lg w-full mb-4 text-center'
                sHref='sign-in'
            %}
            {% set text_no_account_link_sign_up = '<a class="text-blue-800 hover:text-blue-700 active:text-blue-900 focus-visible:outline-blue underline hover:no-underline text-sm md:text-base" href="'~( 'sign-up'|page )~'">'~('text_no_account_link_sign_up'|_)~'</a>' %}
            <span class="block text-center text-gray-600 text-sm">{{ 'text_no_account' | _({text_no_account_link_sign_up: text_no_account_link_sign_up}) }}</span>
        {% endif %}
    {% endpartial %}
</div>
