{#
Params:
- arCarouselList
#}

{% if arCarouselList is not empty %}
<div class="carousel-main swiper-container full-width bg-gray-100 overflow-hidden">
    <ul class="swiper-wrapper max-w-screen-3xl my-0	mx-auto">
        {% for obItem in arCarouselList %}
            {% if obItem.image is not empty %}
                <li class="swiper-slide lg:max-h-160 overflow-hidden">
                    {% if obItem.url is not empty %}
                    <a href="{{ obItem.url }}">
                        <picture>
                            <source
                                srcset="
                                    {{ obItem.image|media|resize(640, 'auto', {'quality': 80, 'extension': 'webp'}) }} 640w,
                                    {{ obItem.image|media|resize(768, 'auto', {'quality': 80, 'extension': 'webp'}) }} 768w,
                                    {{ obItem.image|media|resize(1024, 'auto', {'quality': 80, 'extension': 'webp'}) }} 1024w,
                                    {{ obItem.image|media|resize(1280, 'auto', {'quality': 80, 'extension': 'webp'}) }} 1280w,
                                    {{ obItem.image|media|resize(1536, 'auto', {'quality': 80, 'extension': 'webp'}) }} 1536w,
                                    {{ obItem.image|media|resize(1920, 'auto', {'quality': 80, 'extension': 'webp'}) }} 1920w"
                                sizes="100vw"
                                type="image/webp">
                            <img
                                class="object-cover w-full"
                                srcset="
                                    {{ obItem.image|media|resize(640, 'auto', {'quality': 80}) }} 640w,
                                    {{ obItem.image|media|resize(768, 'auto', {'quality': 80}) }} 768w,
                                    {{ obItem.image|media|resize(1024, 'auto', {'quality': 80}) }} 1024w,
                                    {{ obItem.image|media|resize(1280, 'auto', {'quality': 80}) }} 1280w,
                                    {{ obItem.image|media|resize(1536, 'auto', {'quality': 80}) }} 1536w,
                                    {{ obItem.image|media|resize(1920, 'auto', {'quality': 80}) }} 1920w"
                                src="{{ obItem.image|media|resize(360, 'auto', {'quality': 80}) }}"
                                sizes="100vw"
                                width="1440"
                                height="640"
                                alt="{{ obItem.description }}"
                                title="{{ obItem.title }}"
                                {{ loop.index > 1 ? 'loading="lazy"' }}
                            >
                        </picture>
                    </a>
                    {% else %}
                    <picture>
                        <source
                            srcset="
                                {{ obItem.image|media|resize(640, 'auto', {'quality': 80, 'extension': 'webp'}) }} 640w,
                                {{ obItem.image|media|resize(768, 'auto', {'quality': 80, 'extension': 'webp'}) }} 768w,
                                {{ obItem.image|media|resize(1024, 'auto', {'quality': 80, 'extension': 'webp'}) }} 1024w,
                                {{ obItem.image|media|resize(1280, 'auto', {'quality': 80, 'extension': 'webp'}) }} 1280w,
                                {{ obItem.image|media|resize(1536, 'auto', {'quality': 80, 'extension': 'webp'}) }} 1536w,
                                {{ obItem.image|media|resize(1920, 'auto', {'quality': 80, 'extension': 'webp'}) }} 1920w"
                            sizes="100vw"
                            type="image/webp">
                        <img
                            srcset="
                                {{ obItem.image|media|resize(640, 'auto', {'quality': 80}) }} 640w,
                                {{ obItem.image|media|resize(768, 'auto', {'quality': 80}) }} 768w,
                                {{ obItem.image|media|resize(1024, 'auto', {'quality': 80}) }} 1024w,
                                {{ obItem.image|media|resize(1280, 'auto', {'quality': 80}) }} 1280w,
                                {{ obItem.image|media|resize(1536, 'auto', {'quality': 80}) }} 1536w,
                                {{ obItem.image|media|resize(1920, 'auto', {'quality': 80}) }} 1920w"
                            src="{{ obItem.image|media|resize(360, 'auto', {'quality': 80}) }}"
                            sizes="100vw"
                            class="w-full h-full object-cover"
                            alt="{{ obItem.description }}"
                            title="{{ obItem.title }}"
                            loading="lazy"
                        >
                    </picture>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="swiper-pagination"></div>
</div>
{% endif %}
