{% set iTake = 6 %}
{% set obBrandList = BrandList.make().active().sort().site() %}
{% set arBrandList = obBrandList.all() %}

{% if arBrandList is not empty %}
    <section class="content-visibility p-0.5">
        <h2 class="font-medium text-3xl text-on-surface mb-10 uppercase">{{ 'catalog_product_brands'|_ }}</h2>
        <div class="flex flex-col mb-10">
            {% partial 'common/advanced-list/advanced-list' body %}
                {% for key,obBrand in arBrandList %}
                    {% partial 'common/advanced-list/advanced-list-item'
                        name = obBrand.name
                        href = obBrand.getPageUrl('brand-page')
                        imagePath = obBrand.icon.path
                        needLoad = key > iTake
                        iTake = iTake
                    %}
                {% endfor %}
            {% endpartial %}
            {% if obBrandList.count() > iTake %}
                <div class="flex justify-center mt-4 md:mt-10">
                    {% partial 'form/button'
                        text = 'show_all'|_
                        wrapperClasses = '_advanced-list-button-show-all w-full md:w-max'
                    %}
                    {% partial 'form/button'
                        text = 'form_loading'|_
                        wrapperClasses = '_advanced-list-button-show-all-hidden flex space-x-2 items-center w-full hidden relative ps-14 pe-10 md:w-max'
                        disabled = true
                        body
                    %}
                        <svg class="animate-spin absolute top-4 start-60 w-5 h-5 text-outline md:start-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                    {% endpartial %}
                </div>
            {% endif %}
        </div>
    </section>
{% endif %}
