[staticMenu MainMenu]
code = "navigation-main"
==
{% set arMenuList = MainMenu.menuItems %}
{% if arMenuList is not empty %}
    <nav class="hidden lg:block">
        <ul class="flex flex-wrap">
            {% for arItemMenu in arMenuList %}
                {% if not arItemMenu.viewBag.isHidden %}
                    <li class="md:me-20 md:last:mr-0 md:min-[10%]">
                        {% set sCode = arItemMenu.code is not empty ? 'data-code='~arItemMenu.code %}
                        {% if arItemMenu.url is not empty %}
                            {% set sExternal = arItemMenu.viewBag.isExternal ? 'target=_blank' : '' %}
                            <a href="{{ arItemMenu.url }}" {{ sExternal }} class="link-gray link text-base {{ arItemMenu.viewBag.cssClass }}" {{ sCode }}>{{ arItemMenu.title }}</a>
                        {% else %}
                            <span class="text-gray-900 text-base {{ arItemMenu.viewBag.cssClass }}" {{ sCode }}>{{ arItemMenu.title }}</span>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endif %}
