title = "Catalog"
url = "/catalog/:category?/:product?"
layout = "main"
is_hidden = 0

[CategoryPage]
slug = "{{ :category }}"
slug_required = 0
smart_url_check = 1
has_wildcard = 0
skip_error = 1

[ProductPage]
slug = "{{ :product }}"
slug_required = 1
smart_url_check = 0
skip_error = 0

[ProductList]
sorting = "no"

[ProductData]

[MakeReview]

[Pagination]
count_per_page = 3
pagination_limit = 5
active_class = "pagination__link_current"
button_list = "last-more,last"
first_button_name = "First"
first_button_limit = 3
first_button_number = 1
first-more_button_name = "..."
first-more_button_limit = 3
prev_button_name = "Prev"
prev_button_limit = 1
prev-more_button_name = "..."
prev-more_button_limit = 1
next-more_button_name = "..."
next-more_button_limit = 1
next_button_name = "Next"
next_button_limit = 1
last-more_button_name = "..."
last-more_button_limit = 3
last_button_name = "Last"
last_button_limit = 3
last_button_number = 1
==
<?php
function onInit()
{
    $this['obProduct'] = $this->ProductPage->get();
    $obReviewList  = $this['obProduct']?->review->active()->sort();
    $this['iPage'] = $this->Pagination->getPageFromRequest();
    $this['iMaxPage'] = $this->Pagination->getMaxPage($obReviewList?->count());
    $this['arReviewList'] = $obReviewList?->page($this['iPage'], $this->Pagination->getCountPerPage());
}

function onStart()
{
    if (empty($this['obProduct'])) {
        return;
    }

    $this['obRelatedProductList'] = $this['obProduct']->related;
    $this['obOfferList'] = $this['obProduct']->offer;
    $this['obPropertyList'] = $this['obProduct']->property;
    $this['arBreadcrumbs'] = $this->getBreadcrumbs();
    $this['path_page_js'] = mix('assets/dist/js/product-item.js', 'themes/lovata-tailwind-shopaholic');
}

function getBreadcrumbs(): array
{
    $arBreadcrumbs = [
        [
            'name'   => $this['obProduct']->name,
            'active' => true,
        ]
    ];

    $obCategory = $this['obProduct']->category;

    while (!empty($obCategory) && $obCategory->isNotEmpty()) {
        $arBreadcrumbs[] = [
            'name' => $obCategory->name,
            'url'  => $obCategory->getPageUrl(),
        ];

        $obCategory = $obCategory->parent;
    }

    $arBreadcrumbs[] = [
        'name' => $this->page->title,
        'url'  => $this->pageUrl($this->page->baseFileName, false),
    ];

    return array_reverse($arBreadcrumbs);
}
?>
==
{##}

{% partial 'breadcrumbs/breadcrumbs' %}

{# TODO: Add flash messages to the add to cart action. #}

<div class="_shopaholic-product-wrapper grid grid-cols-1 xl:grid-cols-2 xl:justify-items-center 2xl:justify-items-start" data-product-id="{{ obProduct.id }}">
    <div class="w-full">
        {% partial 'product-info/product-info'
            sPartialClass = 'xl:w-auto xl:absolute xl:invisible'
        %}
        {% partial 'product-gallery/product-gallery' arImages = obProduct.images %}
        {% if obProduct.description is not empty %}
            <div class="w-full flex flex-col mt-7 md:mt-11">
                {% partial 'product-description/product-description' sDescription=obProduct.description %}
            </div>
        {% endif %}

        {% if this.theme.product_page is not empty %}
            {% partial 'tabs/tabs'
                sPartialClasses = '_tabs-product'
                sPartialContainer = 'mt-4 mb-7 lg:my-10'
                body
            %}
                {% for tab in this.theme.product_page %}
                    <li data-title="{{tab.title}}">
                        {% if tab.dropdown == 'product_detail' %}
                            <div class="flex flex-col md:flex-row" >
                                {% if obPropertyList.getByCode('width').property_value.getValueString() != '' or obPropertyList.getByCode('height').property_value.getValueString() != '' or obPropertyList.getByCode('depth').property_value.getValueString() != '' or obPropertyList.getByCode('weight').property_value.getValueString() != '' %}
                                    <div class="w-full md:w-1/2 mt-4 md:mt-0">
                                        <table>
                                            <caption class="text-left w-max font-bold pb-2">{{'product_measurements'|_}}:</caption>
                                            <tbody class="flex flex-col space-y-2">
                                                {% if obPropertyList.isNotEmpty() %}
                                                    {% for obProperty in obPropertyList %}
                                                        {% if (obProperty.name !='Color' and obProperty.name !='Sale' and obProperty.name !='Materials') and obProperty.property_value.getValueString() %}
                                                            <tr>
                                                                <th class="text-left min-w-18 font-normal text-gray-600">{{ obProperty.name }}</th>
                                                                <td class="pl-1.5">{{ obProperty.property_value.getValueString() }}
                                                                    {% if obProperty.name == 'Weight' %}
                                                                        kg
                                                                    {% else %}
                                                                        cm
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                                {% if obPropertyList.getByCode('materials').property_value.getValueString() != '' %}
                                    <div class="w-full md:w-1/2 mt-4 md:mt-0">
                                        <table>
                                            <caption class="text-left w-max font-bold pb-2">{{'product_materials'|_}}:</caption>
                                            <tbody class="flex flex-col space-y-2">
                                                {% if obPropertyList.isNotEmpty() %}
                                                    {% for obProperty in obPropertyList %}
                                                        {% if (obProperty.name !='Width' and obProperty.name !='Color' and obProperty.name !='Sale' and obProperty.name !='Height' and obProperty.name !='Depth' and obProperty.name !='Weight') and obPropertyList.isNotEmpty() %}
                                                            {% for obPropertyValue in obProperty.property_value %}
                                                                <tr>
                                                                    <th class="text-left min-w-18 font-normal text-gray-600">{{ obPropertyValue.value }}</th>
                                                                    <td class="pl-1.5">100%</td>
                                                                </tr>
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}
                            <article class="prose md:prose-lg" >
                                <div class="flex flex-col space-y-2" >
                                    {{tab.richeditor|raw}}
                                </div>
                            </article>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endpartial %}
        {% endif %}
    </div>
    <div class="flex flex-col">
        {% partial 'product-info/product-info'
            sPartialClass = 'absolute invisible w-auto xl:w-full xl:static xl:visible'
        %}
        <div class="flex mt-7 flex-col xl:mt-0 xl:flex-row xl:pl-14">
            {% set obPropertyList = obProduct.property %}
            {% set iTotalQuantity = obOfferList.getTotalQuantity() %}
            <div class="flex flex-col mb-12">
                {% if obPropertyList.getByCode('Color').property_value.first().value or obRelatedProductList|length > 0 %}
                    {% partial 'product-choose/product-choose' %}
                {% endif %}
                {% if iTotalQuantity > 0 %}
                    <div class="flex flex-row items-center mt-7 md:mt-10">
                        {% partial 'input-quantity/input-quantity'
                            iMin = 1
                            iMax = iTotalQuantity
                            iValue = 1
                            sPartialWidth = "w-9 h-9"
                            sName = "quantity"
                            sInputClass = "_shopaholic-cart-quantity"

                        %}
                    </div>
                    <div class="flex flex-row items-center space-x-2 mt-8 md:mt-10">
                        {# TODO: Turn two buttons into one #}
                        {% partial 'button/button'
                            sText = 'product_add_to_cart'|_
                            sPartialClasses = '_shopaholic-cart-add font-bold h-11 md:h-12 w-full md:w-60'
                        %}
                        {% if obProduct.inWishList() %}
                            <button class="_shopaholic-remove-wish-list-button text-red-500 hover:text-red-400 active:text-red-500 w-11 md:w-12 h-11 md:h-12 bg-gray-400/40 hover:bg-gray-500/40 group focus:outline-none flex justify-center items-center rounded-bl rounded-tr focus-visible:outline-blue focus-visible:text-red-500" type="button">
                                <svg class="stroke-current fill-current" width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.59834 2.26511C1.25011 2.61333 0.973884 3.02673 0.785425 3.48171C0.596967 3.93668 0.499969 4.42432 0.499969 4.91678C0.499969 5.40924 0.596967 5.89688 0.785425 6.35185C0.973884 6.80683 1.25011 7.22023 1.59834 7.56845L8 13.9701L14.4017 7.56845C15.1049 6.86518 15.5 5.91135 15.5 4.91678C15.5 3.92221 15.1049 2.96838 14.4017 2.26511C13.6984 1.56185 12.7446 1.16676 11.75 1.16676C10.7554 1.16676 9.8016 1.56185 9.09834 2.26511L8 3.36345L6.90167 2.26511C6.55345 1.91689 6.14005 1.64066 5.68508 1.4522C5.2301 1.26375 4.74246 1.16675 4.25 1.16675C3.75754 1.16675 3.2699 1.26375 2.81493 1.4522C2.35995 1.64066 1.94656 1.91689 1.59834 2.26511V2.26511Z" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        {% else %}
                            {% partial 'button-wish-list/button-wish-list'
                                sPartialClasses = 'flex rounded-bl rounded-tr'
                            %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="grid grid-cols-1 xl:mt-10 xl:justify-items-center 2xl:justify-items-start xl:grid-cols-2{% if this.theme.has_viewed_products == false %} mb-10{% endif %}">
    <div id="reviews" class="w-full flex flex-col">
        <h2 class="text-gray-900 text-2xl font-medium uppercase mb-5">{{ 'reviews_customer_reviews'|_ }}</h2>
        {% partial 'review-list/review-list'
            sPartialClass = '_review-list-container'
            sListClass = '_review-list-update'
        %}
       {% partial 'review-add/review-add' %}
    </div>
    {% partial 'product-rating/product-rating'
        sPartialClass = 'mt-6 xl:mt-14 xl:pl-11 2xl:pl-14'
    %}
</div>

{% if this.theme.has_viewed_products %}
    {% partial 'product-list-small/product-list-small'
        sProductListSmallType = sProductListSmallTypeViewedProducts
        sSectionHeading = 'catalog_products_viewed'|_
        sSectionHeadingLevel = 2
        iTake = 4
        iShowIndex = 0
    %}
{% endif %}

{% if this.theme.has_related_products %}
    {# TODO: rename sSectionHeadingLevel var to iSectionHeadingLevel #}
    {% partial 'product-list-small/product-list-small'
        sProductListSmallType = sProductListSmallTypeRelatedProducts
        obProduct = obProduct
        sSectionHeading = 'catalog_products_also_like'|_
        sSectionHeadingLevel = 2
        iTake = 4
        iShowIndex = 0
    %}
{% endif %}
