title = "Catalog Item"
url = "/catalog/:category/:product"
layout = "main"
is_hidden = 0

[CategoryPage]
slug = "{{ :category }}"
slug_required = 1
smart_url_check = 0
has_wildcard = 0
skip_error = 0

[ProductPage]
slug = "{{ :product }}"
slug_required = 1
smart_url_check = 0
skip_error = 0

[ProductList]
sorting = "no"

[ProductData]

[Pagination]
count_per_page = 3
pagination_limit = 5
active_class = "pagination__link_current"
button_list = "last-more,last"
first_button_name = "First"
first_button_limit = 3
first_button_number = 1
first-more_button_name = "..."
first-more_button_limit = 3
prev_button_name = "Prev"
prev_button_limit = 1
prev-more_button_name = "..."
prev-more_button_limit = 1
next-more_button_name = "..."
next-more_button_limit = 1
next_button_name = "Next"
next_button_limit = 1
last-more_button_name = "..."
last-more_button_limit = 3
last_button_name = "Last"
last_button_limit = 3
last_button_number = 1
==
<?php
function onStart()
{
    //Get product and first offer item
    $obProductItem = $this->ProductPage->get();
    if (empty($obProductItem)) {
        return;
    }

    $this['obProduct'] = $obProductItem;
}

function onInit()
{
    $this['path_page_js'] = mix('assets/dist/js/product-item.js', 'themes/lovata-tailwind-shopaholic');
}
?>
==
{##}

{% partial 'breadcrumbs/breadcrumbs' %} {# TODO: Fix wrong breadcrumbs #}
{% set obReviewList = obProduct.review.active().sort() %}
{% set obProduct = ProductPage.get() %}

{% partial 'product-gallery/product-gallery' arImages = obProduct.images %}

{% if obProduct.description is not empty %}
    <div class="w-full flex flex-col md:w-1/2">
        {% partial 'product-description/product-description' sDescription=obProduct.description %}
    </div>
{% endif %}

<div class="flex flex-col">
    <div class="flex flex-col md:flex-row space-y-16 md:space-x-16 mt-10">
        <div class="flex flex-col">
            {% partial 'product-rating/product-rating' obProduct=obProduct %}
        </div>
    </div>
</div>

<div class="w-full md:w-1/2 flex flex-col mt-10">
    <h2 class="text-gray-900 text-2xl font-medium uppercase mb-5">{{ 'heading_customer_reviews'|_ }}</h2>
    {% partial 'review-list/review-list'
        obReview = obReviewList
    %}
    {% partial 'button/button'
        sText = 'button_write_review'|_
        sPartialClasses = 'w-full md:w-72 mt-8 p-2'
        bGhost = true
    %}
</div>

{% if this.theme.has_viewed_products %}
    {% partial 'product-list-small/product-list-small'
        sProductListSmallType = sProductListSmallTypeViewedProducts
        sSectionHeading = 'heading_product_list_small_recently_viewed'|_
        sSectionHeadingLevel = 2
        iTake = 4
        iShowIndex = 0
    %}
{% endif %}

{% if this.theme.has_related_products %}
    {% partial 'product-list-small/product-list-small'
        sProductListSmallType = sProductListSmallTypeRelatedProducts
        obProduct = obProduct
        sSectionHeading = 'heading_product_list_small_you_might_also_like'|_
        sSectionHeadingLevel = 2
        iTake = 4
        iShowIndex = 0
    %}
{% endif %}
