{##}

<article class="flex flex-col {{ sPartialClasses }}">
    <h{{ sCardHeadingLevel }} class="mt-2 order-1">
        <a class="hover:text-blue-800 focus-visible:outline-blue" href="{{ obArticle.getPageUrl('news-item') }}">{{ obArticle.title }}</a>
    </h{{ sCardHeadingLevel }}>
    <div class="aspect-w-16 aspect-h-10 md:aspect-h-11">
        {% if obArticle.preview_image is not empty %}
            <picture>
                <source media="(min-width:769px)" data-srcset="{{ obArticle.preview_image.getThumb(sWidth, sHeight, {'quality': 100, 'extension': 'webp'}) }}" type="image/webp">
                <source media="(min-width:769px)" data-srcset="{{ obArticle.preview_image.getThumb(sWidth, sHeight, {'quality': 100}) }}" type="image/jpeg">
                <source media="(max-width:768px)" data-srcset="{{ obArticle.preview_image.getThumb(sWidth, sHeight, {'quality': 100, 'extension': 'webp'}) }}" type="image/webp">
                <source media="(max-width:768px)" data-srcset="{{ obArticle.preview_image.getThumb(sWidth, sHeight, {'quality': 100}) }}" type="image/jpeg">
                <img class="w-full h-full rounded object-cover" src="{{ obArticle.preview_image.getThumb(sWidth, sHeight, {'quality': 100}) }}" alt="{{ obArticle.preview_image.description }}">
            </picture>
        {% else %}
            <img class="w-full h-full rounded object-cover" src="{{ 'assets/images/no-photo.svg'|theme }}" alt="{{ 'text_no_image_article'|_ }}">
        {% endif %}
    </div>
</article>
