<div class="w-full">
    <!-- mobile buttons -->
    <nav class="accordion-nav block md:hidden flex flex-col -mx-4">
        <section class="border-t border-gray-200 py-3">
            <button
                class="flex flex-row justify-between pl-4 pr-5 w-full text-left text-base text-blue-800"
                data-tab="details"
            >
                Details
                <img
                    class="transition-transform"
                    src="{{ 'assets/images/arrow.svg'|theme }}"
                    alt="{{ 'arrow_down'|_ }}"
                />
            </button>
            <div id="rollout-details" class="hidden mx-4 text-sm">
                {% partial 'product-item/product-info/product-details' obInfo=obInfo %}
            </div>
        </section>
        <section class="border-t border-b border-gray-200 py-3">
            <button
                class="flex flex-row justify-between pl-4 pr-5 w-full text-left text-base text-blue-800"
                data-tab="shipping"
            >
                Shipping & Returns
                <img
                    class="transition-transform"
                    src="{{ 'assets/images/arrow.svg'|theme }}"
                    alt="{{ 'arrow_down'|_ }}"
                />
            </button>
            <div id="rollout-shipping" class="hidden mx-4 text-sm">
                {% partial 'product-item/product-info/product-shipping' obInfo=obInfo %}
            </div>
        </section>
    </nav>
    <!-- web app buttons -->
    <nav class="tab-nav hidden md:block flex flex-row justify-start space-x-8 text-xl border-b-2 border-gray-200">
        <button class="px-0.5 pb-4 border-b-4 border-blue-800" data-tab="details">Details</button>
        <button class="px-0.5 pb-4" data-tab="shipping">Shipping & Returns</button>
    </nav>
    <div class="tabs hidden md:block mt-5">
        <div id="tab-details">
            {% partial 'product-item/product-info/product-details' obInfo=obInfo %}
        </div>
        <div id="tab-shipping" class="hidden">
            {% partial 'product-item/product-info/product-shipping' obInfo=obInfo %}
        </div>
    </div>
</div>
