<div class="flex flex-col space-y-2" >
    <ul class="flex flex-col space-y-2 list-disc pl-5 mt-4">
        <li>One shipping fee: €10</li>
        <li>Free returns within 14 days (excludes customised pieces and face masks)</li>
        <li>All our deliveries are climate conscious</li>
    </ul>
    <h3 class="text-gray-600 pt-2">Import duties information</h3>
    <p>
        Delivery duties are included in the item price when shipping to all EU countries plus The United Kingdom, USA, Canada, China Mainland, Australia, New Zealand, Israel, Puerto Rico, Switzerland, Singapore, Republic Of Korea, Kuwait, Mexico, Qatar, India, Norway, Saudi Arabia, Taiwan Region, Thailand, U.A.E., Japan, Brazil, Guernsey, Isle of Man, Jersey, San Marino, Colombia, Chile, Argentina, Egypt, Lebanon, Hong Kong SAR, the Canary Islands and Bahrain. All import duties are included in your order – the price you see is the price you pay.
    </p>
    <h3 class="text-gray-600 pt-2">Need more information</h3>
    <ul class="flex flex-col space-y-2 list-disc pl-5">
        <li><a href="#" class="text-blue-800 underline">Orders & Shipping</a></li>
        <li><a href="#" class="text-blue-800 underline">Returns & Refunds</a></li>
        <li><a href="#" class="text-blue-800 underline">Duties & Taxes</a></li>
        <li><a href="#" class="text-blue-800 underline">Climate conscious delivery</a></li>
    </ul>
</div>
