<div class="flex flex-col md:flex-row" >
    <div class="w-full md:w-1/2 mt-4 md:mt-0">
        <span class="font-bold">Product measurements:</span>
        <table>
            <tbody>
            <tr>
                <td>Height</td>
                <td class="pl-1.5">39 cm</td>
            </tr>
            <tr>
                <td>Width</td>
                <td class="pl-1.5">10 cm</td>
            </tr>
            <tr>
                <td>Depth</td>
                <td class="pl-1.5">2 cm</td>
            </tr>
            <tr>
                <td>Weight</td>
                <td class="pl-1.5">1,5 kg</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="w-full md:w-1/2 mt-4 md:mt-0">
        <span class="font-bold">Materials:</span>
        <table>
            <tbody>
            <tr>
                <td>Iron</td>
                <td class="pl-1.5">100%</td>
            </tr>
            <tr>
                <td>Brass</td>
                <td class="pl-1.5">100%</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
