{##}
{% set sLat    = this.theme.map_lat %}
{% set sLng    = this.theme.map_lng %}

<div class="w-screen lg:w-full max-w-screen lg:max-w-screen-sm xl:max-w-850 -ml-screen-1/2 lg:ml-auto -mr-screen-1/2 lg:mr-0 aspect-w-14 md:aspect-w-16 aspect-h-16 md:aspect-h-8 lg:aspect-h-5 mt-7 lg:mt-0 relative left-1/2 lg:left-0 right-1/2 lg:right-0">
    <div class="map"
        data-api-key="{{ sApiKey ? sApiKey : 'null' }}"
        data-coordinates="{{ sLat }},{{ sLng }}"
        data-marker-path="{{ 'assets/images/ballon.svg'|theme }}">
        {% partial 'common/map/popup' %}
    </div>
</div>
