==
<?php
function onInit()
{
    $this['path_css'] = mix('assets/dist/css/app.css', 'themes/lovata-tailwind-shopaholic');
    $this['path_js'] = mix('assets/dist/js/app.js', 'themes/lovata-tailwind-shopaholic');
}
?>
==

{% spaceless %}
<!DOCTYPE html>
<html lang="{{ activeLocale ? activeLocale : 'en' }}" class="h-full">
    <head>
        {% partial 'common/head/head' %}
    </head>
    <body class="h-full bg-white" itemscope itemtype="http://schema.org/WebPage">
        <div class="min-h-full grid grid-cols-full grid-rows-auto-fr-auto">
            {% partial 'layout/header/header' %}
            {% partial 'layout/main/main' %}
            {% partial 'layout/footer/footer' %}
        </div>
    </body>
</html>
{% endspaceless %}
