[staticPage]
useContent = 1
default = 0

[Cart]

[SeoToolbox]

[sitePicker]

[UserData]

[global SiteContent]
handle = Site\SiteContent
==
<?php
function onInit()
{
    $this['path_css'] = mix('assets/dist/css/app.css', 'themes/lovata-tailwind-shopaholic');
    $this['path_js'] = mix('assets/dist/js/app.js', 'themes/lovata-tailwind-shopaholic');
    $this['path_manifest_js'] = mix('assets/dist/js/manifest.js', 'themes/lovata-tailwind-shopaholic');

    $bHasUserPlugin = \System\Classes\PluginManager::instance()->hasPlugin('lovata.buddies')
        && !\System\Classes\PluginManager::instance()->isDisabled('Lovata.Buddies');
    $bHasWishListPlugin = \System\Classes\PluginManager::instance()->hasPlugin('lovata.wishlistshopaholic')
        && !\System\Classes\PluginManager::instance()->isDisabled('Lovata.WishListShopaholic');

    $this['bHasUserPlugin'] = $bHasUserPlugin && !empty($this->UserData);
    $this['bHasWishListPlugin'] = $bHasWishListPlugin;

    if ($bHasUserPlugin && !empty($this->UserData)) {
        $this['obUser'] = $this->UserData->get();
    }
}

function onStart()
{
    $this['sTopInfoBlockHash'] = $this->SiteContent->top_info_block_active && !empty($this->SiteContent->top_info_block_content) ? md5($this->SiteContent->top_info_block_content) : '';
}
?>
==
{% set arBreadcrumbs = [
    {'name': page.title, 'url': null},
] %}

<!DOCTYPE html>
<html dir="auto" lang="{{ activeLocale ? activeLocale : 'en' }}">
    <head>
        {{ SeoToolbox.getHeadBegin()|raw }}
        {% partial 'main/head' %}
        {% placeholder seo_tags default %}
            {% component 'SeoToolbox' %}
        {% endplaceholder %}
        {{ SeoToolbox.getHeadEnd()|raw }}
    </head>
    <body class="bg-gray-50" itemscope itemtype="http://schema.org/WebPage">
        {{ SeoToolbox.getBodyBegin()|raw }}
        <div class="sm:container sm:mx-auto px-4 min-h-screen grid grid-cols-full grid-rows-auto-fr-auto">
            {% partial 'main/header' %}
            <main>
                {% partial 'common/breadcrumbs' arBreadcrumbs=arBreadcrumbs %}
                <div class="max-w-5xl mx-auto mb-6 md:mb-14">
                    <h1 class="font-medium text-lg md:text-2xl mb-3 md:mb-6">{{ SeoToolbox.getPageTitle()|default(this.page.title) }}</h1>
                    <div class="overflow-x-hidden prose max-w-none text-sm md:text-base">
                        {% page %}
                        {# TODO: Fix table on mobile #}
                    </div>
                </div>
            </main>
            {% partial 'main/footer' %}
            {% partial 'message/flash-message' %}
        </div>
        {% partial 'main/scripts' %}
        {{ SeoToolbox.getBodyEnd()|raw }}
    </body>
</html>
