title = "Account Order List"
url = "/account/order-list"
layout = "main"
is_hidden = 0

==

{##}
{% partial 'breadcrumbs/breadcrumbs' %}
<section class="pb-10 md:pb-14">
    <h1 class="uppercase font-medium text-xl md:text-3xl">My orders</h1>
    {% set orderlist = true %}
    {% if orderlist %}
        <div class="mt-4">
            <button class="text-blue-800 underline flex items-center hover:text-blue-700 active:text-blue-900 focus:outline-none focus-visible:outline-blue" type="button">
                <svg class="mr-1" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.33203 5.83333H16.6654M15.832 5.83333L15.1095 15.9517C15.0796 16.3722 14.8914 16.7657 14.583 17.053C14.2745 17.3403 13.8686 17.5 13.447 17.5H6.55036C6.12881 17.5 5.72292 17.3403 5.41444 17.053C5.10595 16.7657 4.91779 16.3722 4.88786 15.9517L4.16536 5.83333H15.832ZM8.33203 9.16667V14.1667V9.16667ZM11.6654 9.16667V14.1667V9.16667ZM12.4987 5.83333V3.33333C12.4987 3.11232 12.4109 2.90036 12.2546 2.74408C12.0983 2.5878 11.8864 2.5 11.6654 2.5H8.33203C8.11102 2.5 7.89906 2.5878 7.74278 2.74408C7.5865 2.90036 7.4987 3.11232 7.4987 3.33333V5.83333H12.4987Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Delete my order history
            </button>
            <div class="hidden md:flex p-2 bg-gray-200 text-gray-900 font-medium mt-5">
                <div class="w-2/12">Order number</div>
                <div class="w-2/12">Order date</div>
                <div class="w-2/12">Status</div>
                <div class="flex-1">Order items</div>
                <div class="w-2/12">Total</div>
            </div>
            <ul class="mt-5 md:mt-0 w-screen md:w-full max-w-screen md:max-w-full -ml-screen-1/2 md:ml-0 -mr-screen-1/2 md:mr-0 relative left-1/2 md:left-0 right-1/2 md:right-0">
                {% for orders, i in 1..2 %}
                    <li class="md:p-2 text-sm md:text-base flex flex-col md:flex-row md:even:bg-gray-100 border-t md:border-t-0 border-b md:border-b-0 border-gray-200 mt-2 first:mt-0">
                        <div class="flex justify-between font-medium md:font-normal md:w-2/12 px-4 pt-4 md:p-0">
                            <span class="md:hidden">Order number:</span>
                            <span>#000000{{ i }}</span>
                        </div>
                        <div class="flex justify-between md:w-2/12 px-4 md:p-0 mt-2 md:mt-0">
                            <span class="md:hidden">Order date</span>
                            <span>01/16/2021</span>
                        </div>
                        <div class="flex justify-between md:w-2/12 px-4 pb-4 md:p-0 mt-2 md:mt-0">
                            <span class="md:hidden">Status</span>
                            <span>Transferred for delivery</span>
                            {# TODO: Add dynamic class for different status #}
                        </div>
                        <div class="md:flex-1 border-t md:border-t-0 border-b md:border-b-0 border-gray-200 px-4 py-3 md:p-0">
                            <button class="_account-order-items flex justify-between md:justify-start items-center w-full md:w-auto text-blue-800 hover:text-blue-700 active:text-blue-900 focus:outline-none focus-visible:outline-blue" type="button">
                                <span class="md:mr-2">Order items (2)</span>
                                <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.234229 0.83438C0.384251 0.684403 0.587698 0.60015 0.799829 0.60015C1.01196 0.60015 1.21541 0.684403 1.36543 0.83438L3.99983 3.46878L6.63423 0.83438C6.70803 0.757971 6.7963 0.697026 6.89391 0.655098C6.99151 0.613171 7.09648 0.591102 7.20271 0.590179C7.30893 0.589256 7.41427 0.609497 7.51259 0.649722C7.61091 0.689947 7.70023 0.749349 7.77534 0.824463C7.85046 0.899577 7.90986 0.988899 7.95009 1.08722C7.99031 1.18553 8.01055 1.29088 8.00963 1.3971C8.00871 1.50332 7.98664 1.6083 7.94471 1.7059C7.90278 1.80351 7.84184 1.89178 7.76543 1.96558L4.56543 5.16558C4.41541 5.31556 4.21196 5.39981 3.99983 5.39981C3.7877 5.39981 3.58425 5.31556 3.43423 5.16558L0.234229 1.96558C0.0842524 1.81556 0 1.61211 0 1.39998C0 1.18785 0.0842524 0.984402 0.234229 0.83438Z" fill="currentColor"/>
                                </svg>
                                {# TODO: Add dynamic class for open state #}
                            </button>
                            <div class="hidden">
                                <ul class="mt-4 md:mt-2.5">
                                    {% for i in 1..2 %}
                                    <li class="flex mt-3 first:mt-0">
                                        <div class="relative w-20 h-20 overflow-hidden rounded">
                                            <img class="object-cover h-full w-full" src="{{ 'assets/images/temp_img/product1.jpg'|theme }}" alt="Product name"/>
                                            <div class="absolute z-10 -top-px -left-px overflow-hidden rounded-br rounded-tl flex text-white text-xs bg-red-700 px-2 py-1 whitespace-nowrap">Sale</div>
                                        </div>
                                        <div class="ml-2">
                                            <a href="#">Oval hanging mirror</a>
                                            <div>Qty: 1</div>
                                            <div class="flex">
                                                <span class="break-line text-xs md:text-lg text-gray-900 font-medium mr-2">€74.56</span>
                                                <span class="break-line text-xs md:text-lg text-gray-600 font-medium">€113.99</span>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="flex justify-between md:w-2/12 font-medium p-4 md:p-0">
                            <span class="md:hidden">Total</span>
                            <span>€329.68</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="flex justify-center mt-8 md:mt-9">
                {% partial 'button/button'
                    bGhost = true
                    sPartialClasses= 'w-full md:w-auto'
                    sText = 'More orders'
                %}
            </div>
        </div>
    {% else %}
        {% partial 'info-message/info-message'
            sPartialClasses = 'mt-20 md:mt-7'
            sIconName = 'my-orders.svg'
            sEmptyPageMessage = 'You have no orders.'
            sHref = 'product-list'|page
            sButtonText = 'Start shopping'
            sButtonClasses = 'mt-24 md:mt-6'
        %}
    {% endif %}
</section>
