title = "Home"
url = "/"
layout = "main"
is_hidden = 0

[ArticleList]
sorting = "publish|desc"

[ProductList]
sorting = "popularity|desc"

[CategoryList]

[global IndexPageContent]
handle = "Site\IndexPage"

[global SiteSettings]
handle = "Site\SiteSettings"
==
<?php
function onInit()
{
    $this['path_page_js'] = mix('assets/dist/js/index.js', 'themes/lovata-tailwind-shopaholic');
}
?>
==
{% if IndexPageContent.main_carousel_active and IndexPageContent.main_carousel is not empty %}
    {% partial 'index/carousel-main' arCarouselList = IndexPageContent.main_carousel %}
{% endif %}

{% if IndexPageContent.latest_news_active %}
    {% set arArticleList = ArticleList.make().sort('publish|desc').published().take(4) %}
    {% if arArticleList is not empty %}
        {% partial 'news/news-list-latest'
            arArticleList = arArticleList
            sectionHeadingLevel = 2
        %}
    {% endif %}
{% endif %}

{% partial 'product/product-list-small/product-list-small'
    type = bHasPopularityPlugin ? 'popularity' : 'new'
    sectionHeading = 'catalog_products_popular'|_
    sectionHeadingLevel = 2
    iTake = 4
    buttonName = 'catalog_products_show_more'|_
    showIndex = 4
%}
{# TODO: Change sSectionHeadingLevel to iSectionHeadingLevel overall #}

{% set iTake = 6 %}
{% set obCategoryList = CategoryList.make().tree() %}
{% set arCategoryList = obCategoryList.all() %}

{% if arCategoryList is not empty %}
<section class="content-visibility">
    <h2 class="font-medium text-3xl text-gray-900 mb-10 uppercase">{{'catalog_categories'|_}}</h2>
    <div class="flex flex-col mb-10">
        {% partial 'common/advanced-list/advanced-list' body %}
            {% for key,obCategory in arCategoryList %}
                {% partial 'common/advanced-list/advanced-list-item'
                    name = obCategory.name
                    href = obCategory.getPageUrl('catalog')
                    imagePath = obCategory.icon.path
                    needLoad = key > iTake
                    iTake = iTake
                %}
            {% endfor %}
        {% endpartial %}
        {% if obCategoryList.count() > iTake %}
            <div class="flex justify-center mt-10">
                <button class="_advanced-list-button-show-all text-base rounded text-blue-800 border border-blue-800 border-solid py-3 px-8 w-full md:w-max hover:bg-blue-700 hover:border-blue-700 hover:text-white focus:outline-none active:bg-blue-900 focus-visible:ring-1 focus-visible:ring-blue-800 focus-visible:ring-offset-1 focus-visible:ring-offset-white focus-visible:bg-blue-800 focus-visible:text-white">{{ 'catalog_categories_show'|_ }}</button>
                {% partial 'form/button'
                    text = 'form_loading'|_
                    wrapperClasses = '_advanced-list-button-show-all-hidden w-full hidden relative ps-14 pe-10 md:w-max'
                    disabled = true
                    body
                %}
                    <svg class="animate-spin absolute top-4 start-60 w-5 h-5 text-gray-400 md:start-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                    </svg>
                {% endpartial %}
            </div>
        {% endif %}
    </div>
</section>
{% endif %}

{% if IndexPageContent.page_seo_block_active %}
    {% partial 'index/page-seo-content' %}
{% endif %}
