title = "Home"
url = "/"
layout = "main"
is_hidden = 0

[ArticleList]
sorting = "publish|desc"

[ProductList]
sorting = "popularity|desc"

[CategoryList]

[global IndexPageContent]
handle = "Site\IndexPage"

[section IndexPage]
handle = "Site\IndexPage"
==
<?php
function onInit()
{
    $this['path_page_js'] = mix('assets/dist/js/index.js', 'themes/lovata-tailwind-shopaholic');
}
?>
==

{% for contentBlock in IndexPage.content_blocks %}
    {% if contentBlock.type == 'image_carousel' and contentBlock.images is not empty %}
        {% partial 'index/carousel-main' arCarouselList = contentBlock.images %}
    {% endif %}
    {% if contentBlock.type == 'news_list' %}
        {% set arArticleList = ArticleList.make().sort('publish|desc').published().take(contentBlock.limit|default(4)) %}
        {% if arArticleList is not empty %}
            {% partial 'news/news-list-latest'
                arArticleList = arArticleList
                sectionHeadingLevel = 2
            %}
        {% endif %}
    {% endif %}
    {% if contentBlock.type == 'content_with_image' %}
        {% partial 'index/content-with-image' contentBlock = contentBlock %}
    {% endif %}
    {% if contentBlock.type == 'category_list' %}
        {% set iTake = 6 %}
        {% set obCategoryList = CategoryList.make().tree() %}
        {% set arCategoryList = obCategoryList.all() %}

        {% if arCategoryList is not empty %}
            <section class="content-visibility p-0.5">
                <h2 class="font-medium text-3xl text-on-surface mb-10 uppercase">{{ 'catalog_product_categories'|_ }}</h2>
                <div class="flex flex-col mb-10">
                    {% partial 'common/advanced-list/advanced-list' body %}
                        {% for key,obCategory in arCategoryList %}
                            {% partial 'common/advanced-list/advanced-list-item'
                                name = obCategory.name
                                href = obCategory.getPageUrl('catalog')
                                imagePath = obCategory.icon.path
                                needLoad = key > iTake
                                iTake = iTake
                            %}
                        {% endfor %}
                    {% endpartial %}
                    {% if obCategoryList.count() > iTake %}
                        <div class="flex justify-center mt-4 md:mt-10">
                            {% partial 'form/button'
                                text = 'catalog_categories_show'|_
                                wrapperClasses = '_advanced-list-button-show-all w-full md:w-max'
                            %}
                            {% partial 'form/button'
                                text = 'form_loading'|_
                                wrapperClasses = '_advanced-list-button-show-all-hidden flex space-x-2 items-center w-full hidden relative ps-14 pe-10 md:w-max'
                                disabled = true
                                body
                            %}
                                <svg class="animate-spin absolute top-4 start-60 w-5 h-5 text-outline md:start-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                                </svg>
                            {% endpartial %}
                        </div>
                    {% endif %}
                </div>
            </section>
        {% endif %}
    {% endif %}
    {% if contentBlock.type == 'product_list' %}
        {% partial 'product/product-list-small/product-list-small'
            sectionHeading = contentBlock.heading ? contentBlock.heading : 'catalog_products_popular'|_
            sectionHeadingLevel = 2
            body
        %}
            {% partial 'product/product-list-small/product-list-sorting'
                sorting=contentBlock.sorting
                category=contentBlock.category
                iTake = 4
                showIndex = 4
                buttonName = 'catalog_products_show_more'|_
            %}
        {% endpartial %}
    {% endif %}
{% endfor %}

