title = "Home"
url = "/"
layout = "main"
is_hidden = 0

[ArticleList]
sorting = "publish|desc"

[ProductList]
sorting = "popularity|desc"
==

{##}

{% set arArticleList = ArticleList.make().sort('publish|desc').published().take(4) %}

{% if this.theme.latest_news_is_active %}
    {% partial 'news-list-latest/news-list-latest' arArticleList = arArticleList sSectionHeadingLevel = 2 %}
{% endif %}
{% if this.theme.has_popularity %}
    {% partial 'product-list-small/product-list-small'
        sProductListSmallType = sProductListSmallTypePopularity
        sSectionHeading = 'Popular products'
        sSectionHeadingLevel = 2
        iTake = 4
        sBtnMore = true
        sButtonName = 'Show more products'
    %}
    {# TODO: Change sSectionHeadingLevel to iSectionHeadingLevel overall #}
{% endif %}
{% if this.theme.page_seo_block_active %}
    {% partial 'page-seo-content/page-seo-content' %}
{% endif %}
