{##}

{% for obProperty in obProductPropertyList if obProperty.hasValue() %}
<details 
    class="_filter-details border-b border-gray-300"
    id = "{{obProperty.id}}"
>
    <summary class="text-base font-medium text-blue-800 cursor-pointer pb-4 pt-4 pl-4 pr-5 after:right-5 focus-visible:text-blue-800 focus-visible:outline-2 focus-visible:outline-dotted focus-visible:outline-blue-800">
        {{ obProperty.name }}
    </summary>
    {% if obProperty.filter_type == 'between' %}
        <div class="flex mb-7 ml-4 mr-5 mt-3 _shopaholic-filter-wrapper" data-filter-type="{{ obProperty.filter_type }}" data-property-id="{{ obProperty.id }}">
            <div class="_filter-range flex" data-filter-id="{{ obProperty.id }}">
                <fieldset class="mr-3 w-full">
                    <legend class="sr-only">{{ obProperty.name }}&nbsp;{{'text_properties_filter_min'|_}}</legend>
                    {% partial 'input/input'
                        sLabelText = 'text_properties_filter_min'|_
                        inputClass = '_min appearance-none quantity_input'
                        value = fMinWidthFilterValue
                        sId = obProperty.name ~ 'min'
                        type = 'number'
                    %}
                </fieldset>
                <fieldset class="w-full">
                    <legend class="sr-only">{{ obProperty.name }}&nbsp;{{'text_properties_filter_min'|_}}</legend>
                    {% partial 'input/input'
                        sLabelText = 'text_properties_filter_max'|_
                        inputClass = '_max appearance-none quantity_input'
                        value = fMaxWidthFilterValue
                        sId = obProperty.name ~ 'max'
                        type = 'number'
                    %}
                </fieldset>
            </div>
        </div>
    {% endif %}
    {% if obProperty.filter_type == 'checkbox' %}
        <div class="flex mb-2 ml-4 mt-3 mr-5 _shopaholic-filter-wrapper" data-filter-type="{{ obProperty.filter_type }}" data-property-id="{{ obProperty.id }}">
            {% set obPropertyValueList = obProperty.property_value.sort() %}
            {% if obProperty.code != 'Color' %}
                <fieldset class="mr-3 w-full">
                    <legend class="sr-only">{{ obProperty.name }}</legend>
                    {% for obValue in obPropertyValueList %}
                        {% set bChecked = arFilterValue[obProperty.id] is not empty and obValue.slug in arFilterValue[obProperty.id] %}
                        {% set bDisabled = false %}
                        {% if bChecked == false and arFilterValueWithoutProperty[obProperty.id] is not empty %}
                            {% set obProductListTemp = obProductList.copy().filterByProperty(arFilterValueWithoutProperty[obProperty.id], obProductPropertyList).filterByProperty(arFilterValueWithoutProperty[obProperty.id], obOfferPropertyList) %}
                            {% set bDisabled = obValue.isDisabled(obProductListTemp) %}
                        {% endif %}
                        {% partial 'input-checkbox/input-checkbox'
                            sLabelText = obValue.value
                            sPartialClasses = 'flex items-center mb-4'
                            sInputClass = 'rounded-sm disabled:opacity-20'
                            sDisabled = bDisabled
                            sChecked = bChecked
                            sId = obValue.slug
                            sValue = obValue.slug
                        %}
                    {% endfor %}
                </fieldset>
            {% endif %}
            {% if obProperty.code == 'Color' %}
                <fieldset class="flex flex-wrap">
                    <legend class="sr-only">{{ obProperty.name }}</legend>
                    {% partial 'input-color-choose/input-color-choose'
                        obPropertyValueList = obPropertyValueList
                        obProperty = obProperty
                        sPartialClasses = 'mr-3'
                        sContainerClasses = 'flex flex-wrap'
                    %}
                </fieldset>
            {% endif %}
        </div>
    {% endif %}
</details>
{% endfor %}
