{##}

<div class="mt-10 mb-10 {{ sPartialClasses }}">
    {% if arArticleList is not empty %}
        <ul class="grid grid-cols-2 md:grid-cols-4 gap-x-2 gap-y-4 md:gap-x-4 md:gap-y-12">
            {% for obArticle in arArticleList %}
                <li class="w-auto">
                    {% partial 'news-card/news-card'
                        obArticle = obArticle
                        sSectionHeadingLevel = 2
                    %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <span class="block text-gray-400 text-center mb-4 md:mb-10">{{ 'text_news_list_not_found'|_ }}</span>
    {% endif %}
</div>
