@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
  :where([dir="rtl"]) select {
    background-position: left theme('spacing.2') center;
    padding-left: theme('spacing.10');
    padding-right: theme('spacing.3');
  }
}

@layer components {
  .slider__pagination{
    @apply flex justify-center mt-5 lg:mt-12
  }
  .slider__pagination-hidden{
    @apply hidden
  }
  .slider__bullet{
    @apply w-1 lg:w-3 h-1 lg:h-3 ms-2 lg:ms-6 first:ms-0 bg-gray-400 rounded-full
  }
  .slider__bullet_active{
    @apply bg-blue-800
  }
  .tabs.style__horizontal .tabs__nav .tabs__nav_link{
    @apply font-medium text-xl bg-inherit border-0
  }
  .tabs.style__horizontal .tabs__nav .tabs__nav_link.is__active{
    @apply border-solid bg-transparent border-b-4 border-blue-800 font-medium
  }
  .tabs.style__horizontal .tabs__content.is__active{
    @apply border-0 bg-transparent border-gray-200 px-0 border-t-2 overflow-x-hidden ml:border-b-0
  }
  .tabs.style__accordion .tabs__content, .tabs.is__responsive .tabs__content{
    @apply relative bg-transparent border-0 border-t-2 border-gray-200 px-0 overflow-x-hidden
  }
  .tabs.style__accordion .tabs__content, .tabs.is__responsive .tabs__content:last-child{
    @apply border-b-2 border-gray-200
  }
  .tabs.style__accordion .tabs__nav_link, .tabs.is__responsive .tabs__nav_link, .tabs.style__accordion .tabs__content .tabs__nav_link, .tabs.is__responsive .tabs__content .tabs__nav_link{
    @apply text-blue-800 bg-transparent text-base font-medium
  }
  input[type='radio']{
    @apply relative checked:bg-none checked:text-white checked:border-blue-600 checked:after:content-[''] checked:after:absolute checked:after:rounded-full checked:after:w-2 checked:after:h-2 checked:after:bg-blue-800 checked:after:left-[3px] checked:after:top-[3px] hover:!border-blue-600 focus-visible:!border-gray-900 focus-visible:ring-transparent focus:ring-transparent focus:!border-blue-600
  }
  .js-choice__dropdown[aria-expanded]{
    @apply bg-white border-0 w-full rounded-md shadow-lg mt-1 z-50 break-normal overflow-x-hidden whitespace-nowrap
  }
  .choices[data-type*=select-one]::after{
    @apply end-0
  }

  .choices[data-type*=select-one]::after{
    width:13px;
    height:9px;
    right: inherit;
    border-width: 0;
    margin-bottom: 2px;
    inset-inline-end: 0;
    background-image: url('/themes/lovata-tailwind-shopaholic/assets/images/arrow.svg');
    background-repeat: no-repeat;
  }
  div.choices[data-type*=select-one].is-open::after{
    margin-bottom: 0;
    margin-top: -3px;
    transform: rotate(180deg);
  }
}

@layer utilities {
  .snap::after{
    content: '';
    width: .5rem;
    display: block;
  }
  .scrollbar-x-none::-webkit-scrollbar {
    height: 0;
  }
  .scrollbar-x-none {
    scrollbar-width: none;
  }
  .full-width {
    width: 100vw;
    max-width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    right: 50%;
    left: 50%;
  }
  .break-line {
    line-break: anywhere;
  }
  /* TODO: Consider to move <summary> and <details> styles directly to the component */
  summary::-webkit-details-marker {
    display: none;
    list-style: none;
  }
  summary {
    list-style: none;
    position: relative;
  }
  summary::after {
    @apply end-3 inline-block absolute
  }
  summary::after {
    content: '';
    width: 15px;
    height: 10px;
    background: url('/themes/lovata-tailwind-shopaholic/assets/images/marker.svg') no-repeat;
    position: absolute;
    top: 50%;
    transition: .2s;
    transform: translateY(-50%);
  }
  details[open]>summary::after{
    transform: translateY(-50%) rotate(180deg);
  }
  .alert{
    @apply fixed top-20 right-14 mb-2 rounded-lg flex flex-row-reverse gap-5 p-4 max-w-sm items-start
  }
  .alert-success{
    @apply bg-green-100 text-green-800
  }
  .alert-error{
    @apply bg-red-100 text-red-900
  }
  .alert-warning{
    @apply bg-blue-200 text-blue-900
  }
  .alert-info{
    @apply bg-gray-200 text-gray-700
  }
  .wishlist__empty {
    background-image: url('/themes/lovata-tailwind-shopaholic/assets/images/wishlist.svg');
  }
  .quantity_input::-webkit-inner-spin-button,
  .quantity_input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }
  .quantity_input{
    -moz-appearance: textfield;
  }
  .tabs.style__accordion .tabs__content, .tabs.is__responsive .tabs__content::after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 10px;
    top: 32px;
    right: 20px;
    background: url('/themes/lovata-tailwind-shopaholic/assets/images/marker.svg') no-repeat;
    position: absolute;
    transition: .2s;
    transform: translateY(-50%);
  }
  .tabs.style__horizontal .tabs__content.is__active::after{
    transform: translateY(-50%) rotate(180deg);
  }
  .advanced-list-icon::after {
    content: '';
    width: inherit;
    height: inherit;
    display: block;
    background: currentColor;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-mask: var(--advanced-list-icon-src) center / 100% no-repeat;
  }
  ._input-checkbox-color{
    color: var(--input-checkbox-color);
    background-color: var(--input-checkbox-color);
  }
  .progress_bar_evaluation{
    width: var(--progress-bar-evaluation-width);
  }
  ._description-text{
    max-height: var(--description-text-max-height);
  }
}


.pswp__top-bar.pswp__hide-on-close{
  @apply space-x-4 w-auto flex bg-gray-100 items-center end-0 inset-auto rounded-bl lg:space-x-6 rtl:space-x-reverse
}
.pswp__top-bar.pswp__hide-on-close .pswp__counter{
  text-shadow: initial;
  @apply h-14 text-gray-600 flex ms-4 items-center opacity-100 mt-0 text-sm lg:text-2xl lg:ms-7
}
.pswp__top-bar.pswp__hide-on-close .pswp__preloader{
  @apply hidden -order-1
}
.pswp__top-bar.pswp__hide-on-close .pswp__button.pswp__button--fullscreen-button{
  @apply order-3
}
.pswp__top-bar.pswp__hide-on-close .pswp__button.pswp__button--fullscreen-button .pswp__icn{
  fill: black;
}

.pswp__top-bar.pswp__hide-on-close .pswp__button.pswp__button--zoom{
  @apply order-2
}
.pswp__top-bar.pswp__hide-on-close .pswp__button.pswp__button--close{
  @apply me-4 order-4 lg:me-6
}
.pswp__top-bar.pswp__hide-on-close .pswp__button{
  @apply w-8 h-8 flex items-center justify-center lg:w-12 lg:h-14
}
.pswp__top-bar.pswp__hide-on-close .pswp__button .pswp__icn{
  @apply w-6 h-6 static lg:w-8 lg:h-8
}
.pswp--has_mouse .pswp__button--arrow{
  @apply w-11 h-11 bg-gray-100 rounded p-3 mt-0 lg:w-14 lg:h-14
}
.pswp__button--arrow .pswp__icn{
  @apply w-6 h-6 top-10 fill-black lg:w-8 lg:h-8
}
.pswp__button--arrow--next{
  @apply rtl:right-auto end-4
}
.pswp__button--arrow--prev{
  @apply start-4
}

.pswp__button--arrow--prev .pswp__icn{
  @apply rtl:rotate-180 translate-y-0.5 left-3.5 rtl:left-1.5
}
.pswp__button--arrow--next .pswp__icn {
  @apply rotate-180 -translate-x-0.5 translate-y-0.5 rtl:rotate-0 rtl:translate-x-1.5 rtl:translate-y-0.5
}



@import "./swiper.css";
@import "../../../node_modules/swiper/swiper-bundle.min.css";
@import "../../../node_modules/photoswipe/dist/photoswipe.css";
@import "../../../node_modules/choices.js/public/assets/styles/choices.min.css";
@import "../js/vanila-tabs/vanilla-tabs.min.css";
