@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer utilities {
  .snap::after{
    content: '';
    width: .5rem;
    display: block;
  }
  .scrollbar-x-none::-webkit-scrollbar {
    height: 0;
  }
  .scrollbar-x-none {
    scrollbar-width: none;
  }
}
