@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer utilities {
  .snap::after{
    content: '';
    width: .5rem;
    display: block;
  }
  .scrollbar-x-none::-webkit-scrollbar {
    height: 0;
  }
  .scrollbar-x-none {
    scrollbar-width: none;
  }
  .full-width {
    width: 100vw;
    max-width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    right: 50%;
    left: 50%;
  }
  .break-line {
    line-break: anywhere;
  }
  /* TODO: Consider to move <summary> and <details> styles directly to the component */
  summary::-webkit-details-marker {
    display: none;
    list-style: none;
  }
  summary {
    list-style: none;
    position: relative;
  }
  summary::after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 10px;
    background: url('/themes/lovata-tailwind-shopaholic/assets/images/marker.svg') no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    transition: .2s;
    transform: translateY(-50%);
  }
  details[open]>summary::after{
    transform: translateY(-50%) rotate(180deg);
  }
  .wishlist__empty {
    background-image: url('/themes/lovata-tailwind-shopaholic/assets/images/wishlist.svg');
  }
  .quantity_input::-webkit-inner-spin-button,
  .quantity_input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }
  .quantity_input{
    -moz-appearance: textfield;
  }
}
