<h2 class="mb-4 text-gray-900 text-lg font-medium uppercase md:text-2xl">{{'purchase_payment_method'|_}}</h2>
<legend class="sr-only">{{'purchase_payment_method_choose'|_}}</legend>
{% for obPaymentMethod in obPaymentMethodList %}
    {% partial 'form/input-radio'
        wrapperClasses = 'flex items-center mb-4'
        text = obPaymentMethod.name
        id = 'payment_method_' ~ obPaymentMethod.id
        name = 'payment_method_id'
        checked = obPaymentMethod.id == obActivePaymentMethod.id
        inputClasses = '_shopaholic-order-field peer'
        value = obPaymentMethod.id
        dataAtributes = 'data-field=order.payment_method_id'
        labelClasses = 'peer-checked:text-gray-900'
    %}
{% endfor %}
{% if obActivePaymentMethod.code == 'card' and SiteContent.payment_methods_list_active %}
<div class="_payment-card flex flex-col">
    {% partial 'common/icon-list'
        sectionHeader = "purchase_payment_methods"|_
        wrapperClasses = "lg:mt-2 lg:mb-2"
        listClasses = "gap-x-2"
        arItemList = SiteContent.payment_methods_list
        itemClasses = "w-14 aspect-w-14 aspect-h-9"
        notFoundMessage = "text_icon_list_payment_methods_not_found"|_
    %}
</div>
{% endif %}
