{% if obShippingTypeList.isNotEmpty() and obActiveShippingType.isNotEmpty() %}
    <h2 class="text-gray-900 text-lg font-medium uppercase md:text-2xl">{{ 'purchase_delivery_method'|_ }}</h2>
    <fieldset class="_switch-radio mt-4">
        <legend class="sr-only">{{ 'purchase_delivery_method_choose'|_ }}</legend>
        <div class="flex flex-col space-y-4 w-full md:w-1/2">
            {% for obShippingType in obShippingTypeList %}
                {% partial 'form/input-radio'
                    id = 'shipping_type_' ~ obShippingType.id
                    name = 'shipping_type_id'
                    checked = obActiveShippingType.id == obShippingType.id
                    value = obShippingType.id
                    wrapperClasses = 'flex items-center'
                    inputClasses = '_shopaholic-order-field peer'
                    labelClasses = 'peer-checked:text-gray-900 w-full ps-2 flex justify-between'
                    dataAtributes = 'data-field=order.shipping_type_id'
                    body
                %}
                    <span>{{ obShippingType.name}}&nbsp;</span>
                    {% if obShippingType.price == 0 %}
                        <span>{{ 'purchase_for_free'|_ }}</span>
                    {% else %}
                        <span>{{ obShippingType.currency }}{{ obShippingType.price }}</span>
                    {% endif %}
                {% endpartial %}
            {% endfor %}
        </div>
    </fieldset>
    {% if obActiveShippingType.preview_text is not empty %}
        <div class="mt-5 mb-7">
            <p id="delivery-terms-conditions" class="_delivery-info mb-1 text-sm md:text-base">{{ obActiveShippingType.preview_text }}</p>
            <button aria-expanded="true" aria-controls="delivery-terms-conditions" class="_delivery-terms link link-blue flex items-center relative text-blue-800 text-sm md:text-base">
                <span>{{ 'purchase_delivery_terms'|_ }}</span>
                <svg width="16" height="16" class="_delivery-toggle absolute -end-5 top-1.5" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.23423 5.83441C4.38425 5.68443 4.5877 5.60018 4.79983 5.60018C5.01196 5.60018 5.21541 5.68443 5.36543 5.83441L7.99983 8.46881L10.6342 5.83441C10.708 5.758 10.7963 5.69706 10.8939 5.65513C10.9915 5.6132 11.0965 5.59113 11.2027 5.59021C11.3089 5.58929 11.4143 5.60953 11.5126 5.64975C11.6109 5.68998 11.7002 5.74938 11.7753 5.82449C11.8505 5.89961 11.9099 5.98893 11.9501 6.08725C11.9903 6.18556 12.0106 6.29091 12.0096 6.39713C12.0087 6.50335 11.9866 6.60833 11.9447 6.70593C11.9028 6.80354 11.8418 6.89181 11.7654 6.96561L8.56543 10.1656C8.41541 10.3156 8.21196 10.3998 7.99983 10.3998C7.7877 10.3998 7.58425 10.3156 7.43423 10.1656L4.23423 6.96561C4.08425 6.81559 4 6.61214 4 6.40001C4 6.18788 4.08425 5.98443 4.23423 5.83441Z" fill="#1E40AF"/>
                </svg>
            </button>
        </div>
    {% endif %}
{% endif %}
