{#
Params:
- id
- name
- labelText
- value
- checked
- required
- disabled
- dataAtributes
- textSize
- wrapperClasses
- inputClasses
- indentClasses
#}
{% set id = id|default(name) %}

<div class="{{ wrapperClasses }}">
    <input
        class="text-blue-800 focus:outline-none focus-visible:border-blue-800 {{inputClasses}} {{indentClasses|default('border-gray-600 me-2.5')}}"
        type="checkbox"
        {% if name %}
            name="{{ name }}"
        {% endif %}
        {% if id %}
            id="{{ id }}"
        {% endif %}
        {% if value %}
            value="{{ value }}"
        {% endif %}
        {{ required }}
        {% if checked %}
            checked
        {% endif %}
        {% if disabled == true %}
            disabled="disabled"
        {% endif %}
        {{dataAtributes}}
    > {# TODO: Fix focus-visible state for checkbox #}
    <label for="{{ id }}" class="text-gray-600 {{textSize|default('text-sm md:text-base')}}">{{ labelText|raw}}</label>
</div>
