{##}

{% if obType == 'markup' %}
    {% set markup = true %}
{% else %}
    {% set markup = false %}
{% endif %}

{% set obPropertyList = obProduct.property %}

<section class="mx-auto mt-4 mb-10 {{sPartialClasses}}">
    <div class="max-w-[1064px] mx-auto">
        {% for obItem in obContent %}
        <details class="js-details border-t border-gray-200 last:border-b">
            <summary class="js-accordion-summary font-medium text-blue-800 md:hover:bg-gray-100 text-sm md:text-xl focus-visible:outline-blue px-3 py-3 md:py-4">
                {% if markup %}
                {{ obItem.question|raw }}
                {% else %}
                {{ obItem.title }}
                {% endif %}
            </summary>
            {% if obItem.dropdown != 'product_detail' %}
            {% set prose = 'prose max-w-none' %}
            {% else %}
            {% set prose = 'w-max' %}
            {% endif %}
            <div class="pb-5 md:pt-5 px-3 text-sm md:text-base text-gray-600 js-accordion-content {{prose}}">
                {% if markup %}
                {{ obItem.answer|raw }}
                {% endif %}
            </div>
        </details>
        {% endfor %}
    </div>
</section>
{#TODO: Add responsive padding to details#}
