{##}

<section class="mx-auto mt-4 mb-10">
    {% for faq in 1..4 %}
        <details class="border-t border-gray-200 last:border-b">
            <summary class="font-medium text-blue-800 cursor-pointer md:hover:bg-gray-100 underline md:no-underline md:hover:underline text-sm md:text-xl focus-visible:outline-blue py-3 md:py-4">
                How to Shop
            </summary>
            <div class="prose max-w-none mb-5 md:mt-5 text-sm md:text-base text-gray-600">
                <p>When you shop at Atmosphere you’re shopping pieces from luxury brands and boutiques around the globe, expertly curated for you by our team. Our brand and boutique partners are located everywhere from Tokyo to Toronto, from Milan to Miami – we only work with the very best in the business. This unique model guarantees you a huge range of pieces to shop, from established luxury brands to the most interesting new designers. We express ship from our partners to over 190 countries worldwide so you’ll receive your order before you know it.</p>
            </div>
        </details>
    {% endfor %}
</section>
{#TODO: Add responsive padding to details#}
