{#
Params:
- obActiveCategory
- obChildrenCategoryList
#}

<h2 class="text-xl font-medium text-gray-900 mb-3">{{'categories'|_}}</h2>
<ul class="pr-6 lg:pr-12 hidden md:block space-y-2">
    {% for obItem in obChildrenCategoryList -%}
    <li class="overflow-hidden rounded-sm flex flex-row text-blue-800 font-medium p-0.5">
        {% if obItem.icon %}
        <span class="h-6 w-6 relative me-3.5">
            <span class="advanced-list-icon w-full h-full transform scale-50" style="--advanced-list-icon-src: url({{ obItem.icon.path }})"></span>
        </span>
        {% endif %}
        {% if obItem.id != obActiveCategory.id %}
        <a class="group-active:underline hover:underline cursor-pointer first-letter:uppercase" href="{{ obItem.getPageUrl('catalog', ['slug']) }}">
            {{ obItem.name }}
        </a>
        {% else %}
        <span class="first-letter:uppercase underline">
            {{ obItem.name }}
        </span>
        {% endif %}
    </li>
    {% endfor %}
</ul>
