{##}

<div class="my-7 md:my-12 flow-root">
    {% if this.theme.page_seo_block_image is not empty %}
        <div class="float-none lg:float-left lg:mr-4 mb-2 max-w-full lg:max-w-screen-sm">
            <img class="w-full" src="{{ this.theme.page_seo_block_image|media }}" alt="{{ this.theme.page_seo_block_image_alt }}" title="{{ this.theme.page_seo_block_image_title }}">
        </div>
    {% endif %}
    {% if this.theme.page_seo_block_text is not empty %}
        <div class="prose max-w-none text-gray-600 text-sm lg:text-lg lg:font-medium">
            {{ this.theme.page_seo_block_text|raw }}
        </div>
    {% else %}
        <span class="block text-gray-400 text-center mb-4 md:mb-10">No page SEO text has been added yet.</span>
    {% endif %}
</div>
