{##}

<div class="my-7 md:my-12 flow-root">
    {% if this.theme.page_seo_block_image is not empty %}
        <div class="float-none lg:float-left lg:mr-4 mb-2 max-w-full lg:max-w-screen-sm">
            <img class="w-full" src="{{ this.theme.page_seo_block_image|media }}" alt="{{ this.theme.page_seo_block_image_alt }}" title="{{ this.theme.page_seo_block_image_title }}">
        </div>
    {% endif %}
    <div class="prose max-w-none text-gray-600 text-sm lg:text-lg lg:font-medium">
      {{ this.theme.page_seo_block_text|raw }}
    </div>
</div>
