{##}

<div class="my-7 md:my-12 sm:flex rtl:space-x-reverse space-y-2 sm:space-y-0 sm:space-x-4">
    {% if this.theme.page_seo_block_image is not empty %}
    <picture class="w-1/2 shrink-0 max-w-full lg:max-w-screen-sm">
        <source srcset="{{ this.theme.page_seo_block_image|media|resize(640, 'auto', {'extension': 'webp'}) }}" type="image/webp">
        <img src="{{ this.theme.page_seo_block_image|media|resize(640, 'auto')}}" alt="{{ this.theme.page_seo_block_image_alt }}" title="{{ this.theme.page_seo_block_image_title }}">
    </picture>
    {% endif %}
    {% if this.theme.page_seo_block_content is not empty %}
        <div class="prose max-w-none prose-p:text-gray-600 text-sm lg:text-xl">
            {{ this.theme.page_seo_block_content|raw }}
        </div>
    {% else %}
        <span class="block text-gray-400 text-center mb-4 md:mb-10">{{ 'theme_seo_content_not_added'|_ }}</span>
    {% endif %}
</div>

