{##}

{% set arCategoryList = CategoryList.make().tree().take(iTake) %}

{% if arList|length == 0 %}
    {% for obCategory in arCategoryList %}
        {% partial 'advanced-list/advanced-item'
            sName = obCategory.name
            sUrl = obCategory.getPageUrl('catalog/catalog')
            sImagePath = obCategory.icon.path
        %}
    {% endfor %}
{% else %}
    {% for obCategory in arList %}
        {% partial 'advanced-list/advanced-item'
            sName = obCategory.title
            sUrl = obCategory.url
            sImagePath = obCategory.icon.path
        %}
    {% endfor %}
{% endif %}
