{##}

{% set sName = '' %}
{% set sUrl = '' %}

{% for obItem in arList %}
    {% if obItem.title|length > 0 %}
        {% set sName = obItem.title %}
        {% set sUrl = obItem.url %}
    {% else %}
        {% set sName = obItem.name %}
        {% set sUrl = obItem.getPageUrl('catalog/catalog') %}
    {% endif %}
    {% partial 'advanced-list/advanced-list-item'
        sName = sName
        sUrl = sUrl
        sImagePath = obItem.icon.path
        sPartialClasses = obItem.viewBag.cssClass
        sLoad = sLoad
    %}
{% endfor %}
