{##}

{# TODO:Add svg reusability for whole project #}
{% set iPage = Pagination.getPageFromRequest() %}
{% set iMaxPage = Pagination.getMaxPage(obReview.count()) %}

<section class="w-full {{ sPartialClass }}">
    {% if sReviewsCount == true or sSortingPanel == true %}
        <div class="flex justify-between mb-5 items-baseline">
            {% if sReviewsCount == true %}
                {% set nReviewsCount = obProduct.review.active().sort()|length %}
                <span class="text-gray-600 text-base">{{ nReviewsCount }} {{ 'text_reviews'|_ }}</span>
            {% endif %}
            {% if sSortingPanel == true %}
                <div class="_sorting-reviews flex items-center mb-4 md:justify-end" data-pagination-page="{{ iPage }}" data-pagination-max="{{ iMaxPage }}" data-active-text="{{ 'text_sort_by'|_ }}">
                    <select class="_sorting-choice bg-transparent w-full border-0 outline-none focus:outline-none focus:border-0 md:w-auto" id="sort-select" name="sort">
                        <option value="popularity|desc" {{ (sActiveSorting == 'popularity|desc' or sActiveSorting is empty) ? 'selected' : '' }} class="text-gray-600">{{'text_newest_to_oldest'|_}}</option>
                        <option value="price|desc" {{ sActiveSorting == 'price|desc' ? 'selected' : '' }} class="text-gray-600">{{'text_oldest_to_newest'|_}}</option>
                    </select>
                </div>
            {% endif %}
        </div>
    {% endif %}
    <ul class="{{ sListClass }}">
        {% partial 'review-list/review-list-ajax' obReviewList = obReview %}
    </ul>
    {% if iMaxPage > iPage %}
        <div class="_off-canvas">
            <button
                class="_show flex flex-row items-center text-blue-800"
                data-max-page="{{ iMaxPage }}"
                data-page="1"
                type="button"
            >
                <span class="mr-2 text-sm md:text-base">{{ 'text_read_more_reviews'|_ }}</span>
                <svg width="8" height="12">
                    <use href="../../themes/lovata-tailwind-shopaholic/assets/images/sprite.svg#arrow-right"></use>
                </svg>
            </button>
            {% partial 'off-canvas/off-canvas'
                sPosition = 'right'
                sHeading = 'heading_customer_reviews_ratings'|_
                sHeaderClasses = 'items-center mb-7'
                sCanvasClasses = 'cursor-auto'
                sIndentsClass = 'px-4 py-10 md:px-10'
                sBackgroundClass = 'bg-white'
                body
            %}
                {% partial 'review-card-info/review-card-info'
                    obProduct = obProduct
                %}
                {% partial 'product-rating/product-rating'
                    obProduct=obProduct
                    sPartialClass = 'mt-7'
                    sHeaderHidden = true
                %}
                {% partial 'button/button'
                    sText = 'button_write_review'|_
                    sPartialClasses = '_write-review w-full md:w-72 mt-10 p-2'
                    bGhost = true
                %}
                {# TODO: is the same partial included? Infinity loop #}
{#                {% partial 'review-list/review-list'#}
{#                    obReview = obReviewList#}
{#                    sPartialClass = 'mt-10'#}
{#                    sReviewsCount = true#}
{#                    sSortingPanel = true#}
{#                    sListClass = '_review-list'#}
{#                %}#}
                {% partial 'button/button'
                    sText = 'button_read_mode'|_
                    sPartialClasses = '_show-more-reviews w-full md:w-72 mt-3 p-2'
                    bGhost = true
                    sDataAtribute = 'data-max-page=' ~ iMaxPage ~ ' data-page=1'
                %}
            {% endpartial %}
        </div>
    {% endif %}
</section>
