{##}

{# TODO:Add svg reusability for whole project #}
<section class="w-full {{ sPartialClass }}">
    {% if sReviewsCount == true or sSortingPanel == true %}
        <div class="flex justify-between mb-5 items-baseline">
            {% if sReviewsCount == true %}
                {% set iReviewsCount = obProduct.review.active().sort()|length %}
                <span class="text-gray-600 text-base">{{ iReviewsCount }} {{ 'reviews_reviews'|_ }}</span>
            {% endif %}
            {% if sSortingPanel == true %}
                <div class="_sorting-reviews flex items-center mb-4 md:justify-end" data-pagination-page="{{ iPage }}" data-pagination-max="{{ iMaxPage }}" data-active-text="{{ 'reviews_sort_by'|_ }}">
                    <select class="_sorting-choice bg-transparent w-full border-0 outline-none focus:outline-none focus:border-0 md:w-auto" id="sort-select" name="sort">
                        <option value="popularity|desc" {{ (sActiveSorting == 'popularity|desc' or sActiveSorting is empty) ? 'selected' : '' }} class="text-gray-600">{{'reviews_sorting_newest_first'|_}}</option>
                        <option value="price|desc" {{ sActiveSorting == 'price|desc' ? 'selected' : '' }} class="text-gray-600">{{'reviews_sorting_oldest_first'|_}}</option>
                    </select>
                </div>
            {% endif %}
        </div>
    {% endif %}
    <ul class="{{ sListClass }}">
        {% partial 'review-list/review-list-ajax' %}
    </ul>
    {% if iMaxPage > iPage %}
        <div>
            <button
                class="_offCanvasOpen flex flex-row items-center text-blue-800"
                data-max-page="{{ iMaxPage }}"
                data-page="1"
                type="button"
                data-for="review_info"
            >
                <span class="me-2 text-sm md:text-base">{{ 'reviews_read_more'|_ }}</span>
                <svg class="rtl:rotate-180" width="8" height="12">
                    <use href="../../themes/lovata-tailwind-shopaholic/assets/images/sprite.svg#arrow-right"></use>
                </svg>
            </button>
            {% partial 'off-canvas/off-canvas'
                id = 'review_info'
                sPosition = 'right'
                sHeading = 'reviews_customer_reviews_ratings'|_
                sHeaderClasses = 'items-center mb-7'
                sCanvasClasses = 'cursor-auto'
                sIndentsClass = 'px-4 py-10 md:px-10'
                sBackgroundClass = 'bg-white'
                body
            %}
                {% partial 'review-card-info/review-card-info'
                    obProduct = obProduct
                %}
                {% partial 'product-rating/product-rating'
                    obProduct=obProduct
                    sPartialClass = 'mt-7'
                    sHeaderHidden = true
                %}
                {% partial 'button/button'
                    sText = 'reviews_review_write'|_
                    sPartialClasses = '_write-review w-full md:w-72 mt-10 p-2'
                    bGhost = true
                %}
                <div class="mt-6 md:mt-10">
                    <ul class="_review-list">
                        {% partial 'review-list/review-list-ajax'
                        sPartialClass = 'mt-10'
                        sReviewsCount = true
                        sSortingPanel = true
                        sListClass = '_review-list'
                        %}
                    </ul>
                </div>

                {% partial 'button/button'
                    sText = 'reviews_read_mode'|_
                    sPartialClasses = '_show-more-reviews w-full md:w-72 mt-3 p-2'
                    bGhost = true
                    sDataAtribute = 'data-max-page=' ~ iMaxPage ~ ' data-page=1'
                %}
            {% endpartial %}
        </div>
    {% endif %}
</section>
