<div class="grid grid-cols-1 grid-flow-col gap-4 xl:container xl:mx-auto">
    <div class="prose max-w-none prose-strong:text-on-surface text-on-surface">{{ SiteContent.top_info_block_content|raw }}</div>
    <button class="link link-dark m-1 self-start _top-info-block-button-close" type="button" aria-label="{{ 'form_close'|_ }}">
        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>
    {# TODO: Think about :active + :focus-visible state #}
</div>
