{#
Params:
- obProduct
#}

<li data-title="{{ 'product_tab_details'|_ }}">
    <div class="flex flex-col md:flex-row" >
    {% if obPropertyList.getByCode('width').property_value.getValueString() != '' or obPropertyList.getByCode('height').property_value.getValueString() != '' or obPropertyList.getByCode('depth').property_value.getValueString() != '' or obPropertyList.getByCode('weight').property_value.getValueString() != '' %}
        <div class="w-full md:w-1/2 mt-4 md:mt-0">
            <table>
                <caption class="text-start w-max font-bold pb-2">{{'product_measurements'|_}}:</caption>
                <tbody class="flex flex-col space-y-2">
                {% if obPropertyList.isNotEmpty() %}
                    {% for obProperty in obPropertyList %}
                        {% if (obProperty.name !='Color' and obProperty.name !='Sale' and obProperty.name !='Materials') and obProperty.property_value.getValueString() %}
                            <tr>
                                <th class="text-start min-w-18 font-normal text-gray-600">{{ obProperty.name }}</th>
                                <td class="ps-1.5">{{ obProperty.property_value.getValueString() }}
                                    {% if obProperty.name == 'Weight' %}
                                        kg
                                    {% else %}
                                        cm
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    {% endif %}
    {% if obPropertyList.getByCode('materials').property_value.getValueString() != '' %}
        <div class="w-full md:w-1/2 mt-4 md:mt-0">
            <table>
                <caption class="text-start w-max font-bold pb-2">{{'product_materials'|_}}:</caption>
                <tbody class="flex flex-col space-y-2">
                {% if obPropertyList.isNotEmpty() %}
                    {% for obProperty in obPropertyList %}
                        {% if (obProperty.name !='Width' and obProperty.name !='Color' and obProperty.name !='Sale' and obProperty.name !='Height' and obProperty.name !='Depth' and obProperty.name !='Weight') and obPropertyList.isNotEmpty() %}
                            {% for obPropertyValue in obProperty.property_value %}
                                <tr>
                                    <th class="text-start min-w-18 font-normal text-gray-600">{{ obPropertyValue.value }}</th>
                                    <td class="ps-1.5">100%</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    {% endif %}
    </div>
</li>
