{##}

<article>
    <div class="flex flex-row">
        {% if obReview.image %}
            <picture>
                <source srcset="{{ obImage.getThumb(48, 48, {'quality': 80, 'extension': 'webp'}) }}" type="image/webp">
                <img
                    alt="{{ obReview.name }} {{ obReview.surname }}"
                    src="{{ obImage.getThumb(48, 48, {'quality': 80}) }}"
                    class="rounded-3xl me-4 w-12 h-12"
                    loading="lazy"
                    width="48"
                    height="48"
                />
            </picture>
        {% else %}
            <div class="flex justify-center items-center me-4 bg-gray-200 w-12 h-12 rounded-3xl">
                <svg width="18" height="19">
                    <use href="{{ 'assets/images/sprite.svg#anonim-avatar'|theme }}"></use>
                </svg>
            </div>
        {% endif %}
        <div class="flex flex-col mb-3">
            <div class="flex flex-row mb-1.5">
                {% if obReview.name %}
                    <span class="me-4 font-bold">{{ obReview.name }} {{ obReview.surname }}</span>
                {% endif %}
                <time class="text-gray-600" datetime="{{ obReview.created_at }}">{{ obReview.created_at }}</time>
            </div>
            <div
                aria-label="{{ 'reviews_customers_rating_product'|_({
                    reviews_customers_rating_product:obReview.rating
                }) }}"
                class="flex flex-row space-x-1 rtl:space-x-reverse"> {#TODO: Think to transfet ARIA label to rating partial #}
                {% partial 'common/rating-star' maxRating='5' rating=obReview.rating prefix='review-' ~ obReview.id %}
            </div>
        </div>
    </div>
    <div class="prose prose-p:text-gray-600">
        <p>
            {{ obReview.comment }}
        </p>
    </div>
</article>
